@use './mixins/configuration/var-alert.scss' as *;
@use './mixins/mixin.scss' as *;


.#{$namespace}-alert {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  color: var(--alert-color);
  border-radius: var(--alert-border-radius);
  font-size: var(--alert-font-size);
  background: var(--alert-background);
  border: 1px solid red;
}