@use './mixins/configuration/var-button.scss' as *;
@use './mixins/mixin.scss' as *;

@include block('button') {
  position: relative;
  margin: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  user-select: none;
  text-decoration: none;
  outline: 0;
  cursor: pointer;
  white-space: nowrap;
  vertical-align: middle;
  transition: 0.3s;
  border-radius: var(--button-border-radius, 2px);
  box-shadow: var(--button-shadow);
  font-size: var(--button-font-size);
  background-color: var(--button-background);
  height: var(--button-height);
  padding: 0 var(--button-padding);
  color: var(--button-color);
}
//文本按钮逻辑处理
@include block('button-text') {
  color: var(--button-color);
  font-size: var(--button-font-size);
  &:not([default]):hover {
    color: var(--button-hover);
  }
  &:not([default]):active {
    color: var(--button-active);
  }
}
