@use './mixins/mixin.scss' as *;
@use './mixins/configuration/var-card.scss' as *;
.#{$namespace}-card {
  width: var(--card-number-width);
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: var(--card-font-size);
  background-color: var(--card-background);
  border: 1px solid var(--card-borderColor);
  border-radius: var(--card-border-radius);
  padding: 24px;
}