@use '../mixins/mixin.scss' as *;
@use '../mixins/configuration/var-input-number.scss' as *;

@include block('input-number') {
  width: var(--input-number-width);
  display: flex;
  height: var(--input-number-height);
  align-items: center;
  box-sizing: border-box;
  border: solid 1px var(--input-number-border-color);
  border-radius: 4px;
  overflow: hidden;

  &:hover,
  &:focus-within {
    border: solid 1px var(--input-number-border-color--hover);
  }

  .dk-input-wrapper{
    border: none;
  }

  @include element(inner) {
    width: calc(100%);
    height: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 1.5;
    outline: none;
    text-align: center;
    border: solid 1px var(--input-number-border-color);
    border-top: none;
    border-bottom: none;
  }

  @include element(reduce) {
    border-right: solid 1px var(--input-number-border-color);
  }

  @include element(add) {
    border-left: solid 1px var(--input-number-border-color);
  }

  .dk-button {
    margin: 0;
    border: none;
    @include block(box) {
      --button-width: var(--input-number-button-width);
      --button-height: var(--input-number-height);
      --button-padding: 6px 0px;
      --button-border-radius: 0px;
      --button-borderColor: transparent;
      --button-hover-borderColor: transparent;
      // --button-hover-background: transparent;
      --button-active-borderColor: transparent;
      --button-background: transparent;
      --button-font-size: 13px;
      &:hover {
        --button-hover-background: transparent;
      }
    }
  }
  @include element(disabled) {
    background-color: var(--input-number-background-color);
    &:hover * {
      cursor: not-allowed;
    }
  }

  @include element(position) {
    position: relative;
    @include block('>*input-number') {
      @include element(('reduce', 'plus')) {
        position: absolute;
        height: 50%;
        overflow: hidden;
        z-index: 1;
        --input-number-height: 100%;
        display: flex;
        .dk-button-box {
          --button-padding: 6px 15px;
          .dk-icon {
            --icon-size: 13px;
          }
          &:hover {
            --button-hover-borderColor: transparent;
          }
          &:active {
            --button-active-background: transparent;
          }
        }
      }

      @include element(reduce) {
        bottom: var(--input-number-position-button);
        align-items: end;
        padding-bottom: 1px;
      }

      @include element(plus) {
        top: -1px;
        align-items: start;
        padding-top: 1px;
      }
    }
    @include block('>*input') {
      height: 100%;
      // width: 100%;
      @include block(wrapper) {
        border: none;
        padding: 0;
      }
    }
  }

  @include element(left) {
    justify-content: flex-end;
    @include block('>*input-number') {
      @include element(('reduce', 'plus')) {
      }
    }
    @include block('>*input') {
      margin-right: var(--input-number-input-margin-right);
      order: 1;
      @include block(wrapper) {
        border-right: solid 1px var(--input-number-border-color);
      }
    }
  }
  
  @include element(right) {
    justify-content: flex-start;
    @include block('>*input-number') {
      @include element(('reduce', 'plus')) {
        order: 1;
      }
    }

    @include block('>*input') {
      margin-left: var(--input-number-button-width);
      @include block(wrapper) {
        border-left: solid 1px var(--input-number-border-color);
      }
    }
  }
}
