@use './mixins/mixin.scss' as *;
// 基础样式
.dk-input {
  position: relative;
  display: flex;
  input{
    width: 100%;
    height: 34px;
    padding: 0 10px;
    border: 1px solid map-get($input-theme-colors, '');
    border-radius: 4px;
    font-size: 13px;
    line-height: 100%;
    display: inline-block;
    transition: all 0.3s ease;
    color: map-get($input-theme-colors, 'text');
    cursor: pointer;
  }
  input:focus{
    outline: none;
  }
  input::placeholder{
    color: map-get($map: $input-theme-colors, $key: '');
  }
  input:focus{
    border-color: map-get($map: $input-theme-colors, $key: 'primary');
  }

  .dk-icon{
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: map-get($map: $input-theme-colors, $key: '');
  }

  // 禁用状态
  .dk-input-disabled{
    background-color: map-get($map: $input-theme-colors, $key: 'disabled');
    cursor: not-allowed;
  }

  // 可清空状态
  .dk-input-clearable{
    padding-right: 25px;
  }
}

