@use './mixins/mixin.scss' as *;
@use './mixins/configuration/var-input.scss' as *;

* {
  transition: all 0.2s;
}
@include block(('input')) {
  width: var(--input-width, 100%);
  height: var(--input-height, 30px);
  font-size: var(--input-font-size, 13px);
  display: inline-flex;
  flex-wrap: nowrap;
  @include block(wrapper) {
    width: 100%;
    border: 1px solid var(--input-border);
    border-radius: var(--input-border-radius, 4px);
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
    &:hover {
      border: 1px solid var(--input-hover-border);
    }
    &:focus-within {
      border-color: var(--input-focus-border);
    }
  }
  @include element(inner) {
    width: calc(100% - 20px);
    height: 100%;
    line-height: 100%;
    background-color: var(--input-color);
    padding: 0 10px;
    font-size: var(--input-font-size);
    border: none;
    caret-color: var(--input-text-color);
    color: var(--input-text-color);
    &:focus {
      outline: none;
    }
  }
  @include element(disabled) {
    :hover {
      cursor: not-allowed;
    }
    @include block('*input') {
      @include element(inner) {
        // background-color: #f00;
      }
    }
  }
}
