@use '../mixins/mixin.scss' as *;
@use '../mixins/configuration/var-input-number.scss' as *;

@include block('input-number') {
  width: var(--input-number-width);
  display: flex;
  height: var(--input-number-height);
  align-items: center;
  box-sizing: border-box;
  border: solid 1px var(--input-number-border-color);
  border-radius: 4px;
  overflow: hidden;

  &:hover,
  &:focus-within {
    border: solid 1px var(--input-number-border-color--hover);
  }

  @include element(inner) {
    width: calc(100%);
    height: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 1.5;
    outline: none;
    text-align: center;
    border: solid 1px var(--input-number-border-color);
    border-top: none;
    border-bottom: none;
  }

  @include element(reduce) {
    border-right: solid 1px var(--input-number-border-color);
  }

  @include element(add) {
    border-left: solid 1px var(--input-number-border-color);
  }

  .dk-button {
    margin: 0;

    @include block(box) {
      --button-height: var(--input-number-height);
      --button-padding: 6px 20px;
      --button-border-radius: 0px;
      --button-borderColor: transparent;
      --button-hover-borderColor: transparent;
      // --button-hover-background: transparent;
      --button-active-borderColor: transparent;
      --button-background: transparent;
    }

    border: none;
  }
  @include element(disabled){
    background-color: var(--input-number-background-color);
    &:hover *{
      cursor: not-allowed;
    }
  }

  // @include element(left){
  //   .dk-button{
  //     float: left;
  //   }
  //   @include block('*input-number'){
  //     @include block(wrapper){
  //       float: right;
  //       @include element(inner){
  //         border-right: none;
  //         background-color: #f00;
  //       }
  //     }
  //   }
  // }
}