@use '../mixins/configuration/var-personality-button.scss' as *;
@use '../mixins/mixin.scss' as *;

.#{$namespace}-button {
  .#{$personality} {
    cursor: pointer;
  }

  // BI 渐变 缺角按钮 
  &_BiCurvedA.#{$personality} {
    color: var(--button-FontColor);
    position: relative;
    isolation: isolate;
    display: inline-grid;
    place-content: center;
    padding: .5em 1.5em;
    font-size: var(--button-font-size);
    border: 0;
    text-transform: uppercase;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .6);
    clip-path: polygon(0% var(--curve-size),
        var(--curve-size) 0,
        100% 0,
        100% calc(100% - var(--curve-size)),
        calc(100% - var(--curve-size)) 100%,
        0 100%);
    transition: color 250ms;

    &::after,
    &::before {
      content: '';
      position: absolute;
      inset: 0;
    }

    &::before {
      background: var(--border-color);
      background-size: 300% 300%;
      animation: move-bgPersonality 5s ease infinite;
      z-index: -2;
    }

    &::after {
      background: var(--button-bgColor);
      z-index: -1;
      clip-path: polygon(
          /* Top-left */
          var(--border-width) calc(var(--curve-size) + var(--border-width) * .5),
          calc(var(--curve-size) + var(--border-width) * .5) var(--border-width),
          /* top-right */
          calc(100% - var(--border-width)) var(--border-width),
          calc(100% - var(--border-width)) calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),
          /* bottom-right 1 */
          calc(100% - calc(var(--curve-size) + var(--border-width) * .5)) calc(100% - var(--border-width)),
          /* bottom-right 2 */
          var(--border-width) calc(100% - var(--border-width)));
      transition: clip-path 500ms;
    }

    &:where(:hover, :focus)::after {
      clip-path: polygon(
          /* Top-left */
          calc(100% - var(--border-width)) calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
          calc(100% - var(--border-width)) var(--border-width),
          /* top-right */
          calc(100% - var(--border-width)) var(--border-width),
          calc(100% - var(--border-width)) calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),
          /* bottom-right 1 */
          calc(100% - calc(var(--curve-size) + var(--border-width) * .5)) calc(100% - var(--border-width)),
          /* bottom-right 2 */
          calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)) calc(100% - var(--border-width)));
      transition: 200ms;
    }

    &:where(:hover, :focus) {
      color: #fff;
    }

    @keyframes move-bgPersonality {
      0% {
        background-position: 31% 0%
      }

      50% {
        background-position: 70% 100%
      }

      100% {
        background-position: 31% 0%
      }
    }
  }

  // 多重阴影按钮
  &_multiple.#{$personality} {
    padding: .5em 1.5em;
    box-sizing: border-box;
    font-weight: 700;
    font-size: var(--button-font-size);
    background: var(--button-bgColor);
    color: var(--button-FontColor);
    border-radius: .5rem;
    border-bottom: 2px solid var(--button-borderColor-bottom);
    border-right: 2px solid var(--button-borderColor-right);
    border-top: 2px solid var(--button-borderColor-top);
    border-left: 2px solid var(--button-borderColor-left);
    transition-duration: 1s;
    transition-property: border-top,
      border-left,
      border-bottom,
      border-right,
      box-shadow;

    &:hover {
      color: var(--button-FontColor-hover);
      background: var(--button-bgColor-hover);
      border-top: 2px solid var(--button-borderColor-top-hover);
      border-left: 2px solid var(--button-borderColor-left-hover);
      border-bottom: 2px solid var(--button-borderColor-bottom-hover);
      border-right: 2px solid var(--button-borderColor-right-hover);
      box-shadow: var(--button-box-shadow-hover)
    }
  }

  // 收缩动画按钮
  &_stretchBtn.#{$personality} {
    padding: .5em 1.5em;
    box-sizing: border-box;
    font-size:var(--button-font-size);
    outline: none;
    border: none;
    border-radius: 10px;
    transition: 0.5s;
    background: var(--button-bgColor);  
    color: var(--button-FontColor);
    box-shadow: var(--button-box-shadow);

    &:hover {
      animation: stretchBtnAnimation 0.5s 1 linear;
    }

    @keyframes stretchBtnAnimation {
      0% {
        transform: var(--stretchBtnAnimation0);
      }

      25% {
        transform: var(--stretchBtnAnimation25);
      }

      50% {
        transform: var(--stretchBtnAnimation50);
      }

      75% {
        transform: var(--stretchBtnAnimation75);
      }

      100% {
        transform: var(--stretchBtnAnimation100);
      }
    }
  }

  // 闪亮 发光
  &_shine.#{$personality}{
    position: relative;
    margin: 0;
    padding: .5em 1.5em;
    font-size: var(--button-font-size);
    outline: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    background: var(--button-bgColor);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    color: var(--button-FontColor);
    font-weight: 400;
    font-family: inherit;
    z-index: 0;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
    span {
      font-weight: 500;
      letter-spacing: 0.7px;
      z-index: 20;
    }
    &:hover {
      animation: shineAnimOne 0.7s ease-in-out both;
    }
    &:hover span{
      animation: shineAnimTwo 0.7s ease-in-out both;
    }
    &:after {
      background: var(--button-bgColor-hover);
      content: "";
      height: 155px;
      left: -75px;
      opacity: 0.4;
      position: absolute;
      top: -50px;
      transform: rotate(35deg);
      transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
      width: 50px;
      z-index: -10;
    }
    &:hover:after {
      left: 120%;
      transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    }
    @keyframes shineAnimOne {
      0% {
        transform: rotate(0deg) translate3d(0, 0, 0);
      }
    
      25% {
        transform: rotate(3deg) translate3d(0, 0, 0);
      }
    
      50% {
        transform: rotate(-3deg) translate3d(0, 0, 0);
      }
    
      75% {
        transform: rotate(1deg) translate3d(0, 0, 0);
      }
    
      100% {
        transform: rotate(0deg) translate3d(0, 0, 0);
      }
    }
    @keyframes shineAnimTwo {
      0% {
        transform: translate3d(0, 0, 0) translateZ(0);
      }
    
      25% {
        transform: translate3d(4px, 0, 0) translateZ(0);
      }
    
      50% {
        transform: translate3d(-3px, 0, 0) translateZ(0);
      }
    
      75% {
        transform: translate3d(2px, 0, 0) translateZ(0);
      }
    
      100% {
        transform: translate3d(0, 0, 0) translateZ(0);
      }
    }
  }

  //银光倒影
  &_SilverReflection.#{$personality}{
    font-size: var(--button-font-size);
    padding: .5em 1.5em;
    border: none;
    outline: none;
    border-radius: 0.4rem;
    cursor: pointer;
    text-transform: uppercase;
    background-color:var(--button-bgColor);
    color: var(--button-FontColor);
    font-weight: 700;
    transition: 0.6s;
    box-shadow: var(--button-box-shadow);
    -webkit-box-reflect:var(--button-box-reflect);
    &:active {
      scale: 0.92;
    }
    &:hover {
      background: var(--button-bgColor-hover);
      color: var(--button-FontColor-hover);
    }
  }

  //扁平按钮
  &_flatBtn.#{$personality}{
    padding: 5px;
    box-sizing: border-box;
    background-color: var(--button-bgColor);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    font-size: var(--button-font-size);
    span{
      padding: 5px;
      box-sizing: border-box;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      bottom: 4px;
      background-color: var(--button-bgColor);
      border-radius:5px;
      font-size: var(--button-font-size);
      color: var(--button-FontColor);
      border: 2px solid var(--border-color);
      box-shadow:  var(--button-box-shadow);
}
    span:hover {
      transition: all 0.5s;
      transform: translate(0, 0.4em);
      box-shadow: var(--button-box-shadow-hover)
    }
    span:not(hover) {
      transition: all 1s;
    }
  }

  //双展开按钮
  &_TurnOpen.#{$personality}{
    font-size: var(--button-font-size);
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: .5em 1.5em;
    border: 3px solid var(--border-color);
    border-radius: 2px;
    position: relative;
    box-shadow: var(--button-box-shadow);
    color: var(--button-FontColor);
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1; 
    &:before {
      transition: 0.5s all ease;
      position: absolute;
      top: 0;
      left: 50%;
      right: 50%;
      bottom: 0;
      opacity: 0;
      content: '';
      background-color: var(--button-bgColor-hover);
      z-index: -1;
    }
    &:hover,:focus {
      color:var(--button-FontColor-hover);
    }
    &:hover:before,:focus:before {
      transition: 0.5s all ease;
      left: 0;
      right: 0;
      opacity: 1;
    }
    &:active {
      transform: scale(0.9);
    }
  }

  //灯光按钮
  &_lightBtn.#{$personality}{
  
  }
  // 立体嵌入式按钮
  &_stereoscopic.#{$personality}{
    display: flex;
    padding: .5em 1.5em;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    outline: none;
    cursor: pointer;
    background-image: var(--button-bgColor);
    border-radius: 30px;
    border: 1px solid #8F9092;
    transition: all 0.2s ease;
    font-family: "Source Sans Pro", sans-serif;
    font-size: var(--button-font-size);
    font-weight: 600;
    color: var(--button-FontColor);
    text-shadow: 0 1px #fff;
    &:hover {
      box-shadow: var(--button-box-shadow);
    }
  }
  //双展开按钮2
  &_TurnOpenBorder.#{$personality}{
    padding: .5em 1.5em;
    box-sizing: border-box;
    position: relative;
    border: 3px ridge var(--border-color);
    outline: none;
    background-color: transparent;
    color: var(--button-FontColor);
    transition: 1s;
    border-radius: 0.3em;
    font-size: 16px;
    font-weight: bold;
    &::after {
      content: "";
      position: absolute;
      top: -10px;
      left: 3%;
      width: 95%;
      height: 40%;
      background-color: var(--button-bgColor);
      transition: 0.5s;
      transform-origin: center;
    }
    &::before {
      content: "";
      transform-origin: center;
      position: absolute;
      top: 80%;
      left: 3%;
      width: 95%;
      height: 40%;
      background-color: var(--button-bgColor);
      transition: 0.5s;
    }
    &:hover::before,&:hover::after{
      transform: scale(0);
    }
    :hover {
      box-shadow: inset 0px 0px 25px var(--border-color);
    }
  }
} 