@use '../mixins/mixin.scss' as *;

@include block(popover) {
  width: fit-content;
  position: relative;
  overflow: hidden;
  @include block(wrapper) {
    width: var(--popover-width);
    height: max-content;
    font-size: 13px;
    color: #333;
    opacity: 0;
    position: absolute;
    inset: calc(100% + 4px) auto auto 50%;
    transform: translateX(-50%);
    z-index: -1;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #eaeaea;
    box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
    @include element(arrow) {
      // 三角形
      position: absolute;
      top: -6px;
      left: 50%;
      margin-left: -5px;
      width: 10px;
      height: 10px;
      border-top: 1px solid #eaeaea;
      border-left: 1px solid #eaeaea;
      transform: rotate(45deg);
      background-color: #fff;
    }
    @include element(container){
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
  }

  @include block(active) {
    overflow: visible;
    .dk-popover-wrapper {
      opacity: 1;
      z-index: 2023;
    }
  }

  @include element(inner) {
    width: fit-content;
  }

  @include element(left){
    inset: 50% auto auto calc(-1 * var(--popover-width) - 30px);
    transform: translateY(-50%);
    .dk-popover-wrapper_arrow{
      inset: 50% auto auto calc(100% + 6px);
      transform: translate(-50%, -50%) rotate(135deg);
    }
  }

  @include element(right){
    inset: 50% auto auto calc(100% + 10px);
    transform: translateY(-50%);
    .dk-popover-wrapper_arrow{
      top: 50%;
      left: 4px;
      transform: translate(-50%, -50%) rotate(315deg);
    }
  }

  @include element(top){
    inset: calc(var(--popover-top) - 24px) 0 0 50%;
    transform: translateX(-50%);
    .dk-popover-wrapper_arrow{
      inset: 100% auto auto 50%;
      transform: translate(-50%, -50%) rotate(225deg);
    }
  }

  @include element(top-left){
    inset: calc(var(--popover-top) - 24px) auto 0 0;
    transform: translateY(-50%);
    .dk-popover-wrapper_arrow{
      inset: 100% auto auto calc(25% + 6px);
      transform: translate(-50%, -50%) rotate(225deg);
    }
  }
}
