@use '../mixins/mixin.scss' as *;
@use '../mixins//configuration/var-radio.scss' as *;

@include block(radio) {
  display: inline-block;
  user-select: none;
  margin-right: 10px;
  
  @include block(wrapper){
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;
    font-size: var(--radio-font-size);
  }
  
  @include element(inner) {
    cursor: pointer;
    height: 100%;
    transform: translateY(10%);
    &:checked{
      color: #f00;
    }
  }
}
