@use './mixins/mixin.scss' as *;

@font-face {
  font-family: "dk-ui-icons"; /* Project id 3849940 */
  src: url('./iconSysyem/iconfont.woff2?t=1675822794850') format('woff2'),
       url('./iconSysyem/iconfont.woff?t=1675822794850') format('woff'),
       url('./iconSysyem/iconfont.ttf?t=1675822794850') format('truetype');
}

[class^='#{$namespace}-icon'],[class*='#{$namespace}-icon'] {
  font-family: "dk-ui-icons" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.#{$namespace}-icon-sousuowenjian:before {
  content: "\e600";
}

.#{$namespace}-icon-xitongxinxi:before {
  content: "\e65e";
}

.#{$namespace}-icon-02sousuo:before {
  content: "\e64b";
}

.#{$namespace}-icon-sousuo:before {
  content: "\e752";
}

.#{$namespace}-icon-sousuoleimufill:before {
  content: "\e753";
}

.#{$namespace}-icon-xitongcaidan:before {
  content: "\e696";
}

.#{$namespace}-icon-xitongfanhui:before {
  content: "\e697";
}

.#{$namespace}-icon-xitongtongzhi:before {
  content: "\e635";
}

.#{$namespace}-icon-icon-link:before {
  content: "\e60d";
}

.#{$namespace}-icon-xitongyunweidakaiwenjianjia:before {
  content: "\e641";
}

.#{$namespace}-icon-xitongyunweibaocunshouquan:before {
  content: "\e64f";
}

.#{$namespace}-icon-drgspingtairuanjianxitong210:before {
  content: "\e607";
}

.#{$namespace}-icon-drgspingtairuanjianxitong212:before {
  content: "\e63d";
}

.#{$namespace}-icon-xitong1:before {
  content: "\e62e";
}

.#{$namespace}-icon-xitong:before {
  content: "\e642";
}

.#{$namespace}-icon-wangluoxitong:before {
  content: "\e62f";
}

.#{$namespace}-icon-xitongyunzhuanqingkuang:before {
  content: "\e631";
}

.#{$namespace}-icon-xitongzhuangtai:before {
  content: "\e643";
}

.#{$namespace}-icon-subsystem:before {
  content: "\e609";
}

.#{$namespace}-icon-zhantingzhinengzhongkongxitong:before {
  content: "\e605";
}

.#{$namespace}-icon-xitongguanliyuan:before {
  content: "\e76c";
}

.#{$namespace}-icon-zhuxiaoxitong:before {
  content: "\e65f";
}

.#{$namespace}-icon-shebeisousuo:before {
  content: "\ead2";
}

.#{$namespace}-icon-guanliyuansousuo_o:before {
  content: "\eb56";
}

.#{$namespace}-icon-shebeisousuo_o:before {
  content: "\eb58";
}

.#{$namespace}-icon-shujuxitong:before {
  content: "\e63a";
}

.#{$namespace}-icon-svg-:before {
  content: "\e627";
}

.#{$namespace}-icon-chaxun:before {
  content: "\ec4c";
}

.#{$namespace}-icon-mysql:before {
  content: "\ec6d";
}

.#{$namespace}-icon--xitong:before {
  content: "\e60a";
}

.#{$namespace}-icon-xitongfuzai:before {
  content: "\e662";
}

.#{$namespace}-icon-keyanxitong:before {
  content: "\e63e";
}

.#{$namespace}-icon-xitongyunwei:before {
  content: "\e619";
}

.#{$namespace}-icon-wendangguanlixitong-wendangguanlixitongtubiao:before {
  content: "\e648";
}

.#{$namespace}-icon-wendangguanlixitong-yaopinliuxiangxitongtubiao:before {
  content: "\e649";
}

.#{$namespace}-icon-xitongxiaoxi:before {
  content: "\e62b";
}

.#{$namespace}-icon-xitongdaoru:before {
  content: "\e644";
}

.#{$namespace}-icon-xitongpeizhi:before {
  content: "\e660";
}

.#{$namespace}-icon-xitongtongzhi1:before {
  content: "\e611";
}

.#{$namespace}-icon-yewutubiao_keyanxitong:before {
  content: "\e6f6";
}

.#{$namespace}-icon-xitong2:before {
  content: "\e64a";
}

.#{$namespace}-icon-xitongguanli:before {
  content: "\e64c";
}

.#{$namespace}-icon-xitong3:before {
  content: "\e62d";
}

.#{$namespace}-icon-xitong-weizhipeizhi:before {
  content: "\e666";
}

.#{$namespace}-icon-xitong-zichanzidian:before {
  content: "\e667";
}

.#{$namespace}-icon-xitong-zichanpeizhi:before {
  content: "\e668";
}

.#{$namespace}-icon-xitongrizhi:before {
  content: "\e608";
}

.#{$namespace}-icon-xitongxiaoxi1:before {
  content: "\e683";
}

.#{$namespace}-icon-xitong4:before {
  content: "\e645";
}

.#{$namespace}-icon-xitongxinxi1:before {
  content: "\e663";
}

.#{$namespace}-icon-waihuxitong:before {
  content: "\e61a";
}


.#{$namespace}-icon-xitongjiandu:before {
  content: "\e66c";
}

.#{$namespace}-icon-xitongweihu:before {
  content: "\e615";
}

.#{$namespace}-icon-juyuwangsousuo:before {
  content: "\e77e";
}

.#{$namespace}-icon-shipinjiankongxitong:before {
  content: "\e78c";
}

.#{$namespace}-icon-xitong5:before {
  content: "\e60f";
}

.#{$namespace}-icon-xitonggengxin:before {
  content: "\e60b";
}

.#{$namespace}-icon-UIsheji_menjinxitong-10:before {
  content: "\e623";
}

.#{$namespace}-icon-cloud-search-full:before {
  content: "\e98d";
}

.#{$namespace}-icon-yingyongxitongzhanghaoyuquanxianshenqingliucheng__xianxing__-01:before {
  content: "\e602";
}

.#{$namespace}-icon-tuichuxitong:before {
  content: "\e61c";
}

.#{$namespace}-icon-xitongloudongjianceshenqing:before {
  content: "\e6a5";
}

.#{$namespace}-icon-xitonganquan:before {
  content: "\e651";
}


.#{$namespace}-icon-xitongwendang:before {
  content: "\e6b9";
}

.#{$namespace}-icon-xitonggonggao:before {
  content: "\ffdc";
}