@use './mixins/mixin.scss' as *;

@font-face {
  font-family: "dk-ui-icons"; /* Project id 3849940 */
  src: url('./fonts/font_3849940_0cnmghd5q7ep.woff2') format('woff2'),
       url('./fonts/font_3849940_0cnmghd5q7ep.woff') format('woff'),
       url('./fonts/font_3849940_0cnmghd5q7ep.ttf') format('truetype');
}

[class^='#{$namespace}-icon'],[class*='#{$namespace}-icon'] {
  font-family: "dk-ui-icons" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.#{$namespace}-icon-yinsi:before {
  content: "\e7c6";
}

.#{$namespace}-icon-yinsi1:before {
  content: "\e730";
}

.#{$namespace}-icon-fuwutiaokuanjiyinsi:before {
  content: "\e731";
}

.#{$namespace}-icon-icon-test:before {
  content: "\e732";
}

.#{$namespace}-icon-anquanyinsi:before {
  content: "\e98b";
}

.#{$namespace}-icon-yinsijimi:before {
  content: "\f761";
}

.#{$namespace}-icon-a-yinsibaohuyanzhengma:before {
  content: "\e733";
}

.#{$namespace}-icon-a-yinsisimibaomi:before {
  content: "\e734";
}

.#{$namespace}-icon-shezhi7:before {
  content: "\e708";
}

.#{$namespace}-icon-fangxiang-xiangxia:before {
  content: "\e709";
}

.#{$namespace}-icon-fangxiang-xiangshang:before {
  content: "\e70a";
}

.#{$namespace}-icon-fangxiang-xiangzuo:before {
  content: "\e70b";
}

.#{$namespace}-icon-fangxiang-xiangyou:before {
  content: "\e70c";
}

.#{$namespace}-icon-fangxiangsanjiao-xiangshang:before {
  content: "\e70d";
}

.#{$namespace}-icon-fangxiangsanjiao-xiangyou:before {
  content: "\e70e";
}

.#{$namespace}-icon-fangxiangsanjiao-xiangxia:before {
  content: "\e70f";
}

.#{$namespace}-icon-fangxiangsanjiao-xiangzuo:before {
  content: "\e711";
}

.#{$namespace}-icon-tongshezhi:before {
  content: "\e712";
}

.#{$namespace}-icon-zhongqizhifu:before {
  content: "\e713";
}

.#{$namespace}-icon-shezhi8:before {
  content: "\e714";
}

.#{$namespace}-icon-zhifu:before {
  content: "\e715";
}

.#{$namespace}-icon-jurassic_nav:before {
  content: "\e716";
}

.#{$namespace}-icon-jurassic_nav1:before {
  content: "\e717";
}

.#{$namespace}-icon-fuzhushezhi:before {
  content: "\e718";
}

.#{$namespace}-icon-gaojishezhi:before {
  content: "\e719";
}

.#{$namespace}-icon-shezhi9:before {
  content: "\e9a3";
}

.#{$namespace}-icon-shanchu1:before {
  content: "\e8b6";
}

.#{$namespace}-icon-shezhi10:before {
  content: "\e8b7";
}

.#{$namespace}-icon-gaojingshezhi:before {
  content: "\e71a";
}

.#{$namespace}-icon-geshuishezhi:before {
  content: "\e71b";
}

.#{$namespace}-icon-yunshezhi:before {
  content: "\e71c";
}

.#{$namespace}-icon-weishezhi:before {
  content: "\e71d";
}

.#{$namespace}-icon-xitongshezhi:before {
  content: "\e71e";
}

.#{$namespace}-icon-zhifupeizhi:before {
  content: "\e71f";
}

.#{$namespace}-icon-ziyuan2:before {
  content: "\e721";
}

.#{$namespace}-icon-zhanghushezhi:before {
  content: "\e722";
}

.#{$namespace}-icon-shezhiguize:before {
  content: "\e723";
}

.#{$namespace}-icon-jiaofeishezhi:before {
  content: "\e724";
}

.#{$namespace}-icon-alipay1:before {
  content: "\e8de";
}

.#{$namespace}-icon-pay-taobao:before {
  content: "\e8e0";
}

.#{$namespace}-icon-data-management:before {
  content: "\e93c";
}

.#{$namespace}-icon-jichushezhi:before {
  content: "\e725";
}

.#{$namespace}-icon-chanpinshezhi_1:before {
  content: "\e726";
}

.#{$namespace}-icon-mobanshezhi:before {
  content: "\e728";
}

.#{$namespace}-icon-duanxinshezhi:before {
  content: "\e729";
}

.#{$namespace}-icon-zhifushezhi:before {
  content: "\e72a";
}

.#{$namespace}-icon-fangxiang:before {
  content: "\e72b";
}

.#{$namespace}-icon-huiyuanshezhi:before {
  content: "\e72c";
}

.#{$namespace}-icon-jiejiarishezhi:before {
  content: "\e72d";
}

.#{$namespace}-icon-tianjiawenjian4:before {
  content: "\e72e";
}

.#{$namespace}-icon-a-1Drenyuanshezhi:before {
  content: "\e72f";
}

.#{$namespace}-icon-jianqie:before {
  content: "\e634";
}

.#{$namespace}-icon-shanchuwenjian:before {
  content: "\e6db";
}

.#{$namespace}-icon-shanchuwenjianjia:before {
  content: "\e6dc";
}

.#{$namespace}-icon-genzongmubiaoshezhi:before {
  content: "\e6dd";
}

.#{$namespace}-icon-shezhi:before {
  content: "\e6de";
}

.#{$namespace}-icon-weibiaoti2:before {
  content: "\e6df";
}

.#{$namespace}-icon-shezhi1:before {
  content: "\e6e0";
}

.#{$namespace}-icon-uishezhi:before {
  content: "\e6e1";
}

.#{$namespace}-icon-shezhi2:before {
  content: "\e6e2";
}

.#{$namespace}-icon-icon1:before {
  content: "\e6e3";
}

.#{$namespace}-icon-weixinzhifu:before {
  content: "\e6e4";
}

.#{$namespace}-icon-zhifubaozhifu:before {
  content: "\e6e5";
}

.#{$namespace}-icon-shunshizhenfangxiangclockwise5:before {
  content: "\e989";
}

.#{$namespace}-icon-zhifuyichang:before {
  content: "\e6e6";
}

.#{$namespace}-icon-zhifubaozhifu1:before {
  content: "\e6e7";
}

.#{$namespace}-icon-caozuo-shezhi:before {
  content: "\e6e8";
}

.#{$namespace}-icon-zhifunengli:before {
  content: "\e6ea";
}

.#{$namespace}-icon-zhifubaozhifu2:before {
  content: "\e6eb";
}

.#{$namespace}-icon-xinyongzhifu:before {
  content: "\e6ed";
}

.#{$namespace}-icon-kuaijiezhifu:before {
  content: "\e6ee";
}

.#{$namespace}-icon-weixinzhifu1:before {
  content: "\e6ef";
}

.#{$namespace}-icon-shezhi3:before {
  content: "\e6f0";
}

.#{$namespace}-icon-duobizhongshezhi:before {
  content: "\e6f1";
}

.#{$namespace}-icon-shezhi4:before {
  content: "\e6f2";
}

.#{$namespace}-icon-alipay:before {
  content: "\e6f3";
}

.#{$namespace}-icon-alarm-settings:before {
  content: "\e6f4";
}

.#{$namespace}-icon-notifications:before {
  content: "\e6f5";
}

.#{$namespace}-icon-icon-elements:before {
  content: "\e6f6";
}

.#{$namespace}-icon-shezhi5:before {
  content: "\e6f7";
}

.#{$namespace}-icon-baojingshezhi:before {
  content: "\e6f8";
}

.#{$namespace}-icon-yunyingshezhi:before {
  content: "\e6f9";
}

.#{$namespace}-icon-setting-role:before {
  content: "\e6fa";
}

.#{$namespace}-icon-navicon-ctsz:before {
  content: "\e6fb";
}

.#{$namespace}-icon-navicon-jgsz:before {
  content: "\e6fc";
}

.#{$namespace}-icon-zhifubaotubiao:before {
  content: "\e6fd";
}

.#{$namespace}-icon-ziyuan:before {
  content: "\e6fe";
}

.#{$namespace}-icon-shezhizhugudong:before {
  content: "\e6ff";
}

.#{$namespace}-icon-shezhi6:before {
  content: "\e700";
}

.#{$namespace}-icon-shanchu:before {
  content: "\e702";
}

.#{$namespace}-icon-zhifupingtai-paypal:before {
  content: "\e703";
}

.#{$namespace}-icon-ico_xitongshezhi_shebeipeizhi:before {
  content: "\e876";
}

.#{$namespace}-icon-Settings-Help:before {
  content: "\e931";
}

.#{$namespace}-icon-weixinzhifu2:before {
  content: "\e704";
}

.#{$namespace}-icon-zizhanghaoshezhi:before {
  content: "\e706";
}

.#{$namespace}-icon-ziyuan1:before {
  content: "\e707";
}

.#{$namespace}-icon-yonghu71:before {
  content: "\e678";
}

.#{$namespace}-icon-yonghu73:before {
  content: "\e67a";
}

.#{$namespace}-icon-24gf-user2:before {
  content: "\eb32";
}

.#{$namespace}-icon-24gf-userGroup2:before {
  content: "\eb33";
}

.#{$namespace}-icon-24gf-portraitMalePlus:before {
  content: "\eb35";
}

.#{$namespace}-icon-yonghu75:before {
  content: "\e67c";
}

.#{$namespace}-icon-yonghu76:before {
  content: "\e67d";
}

.#{$namespace}-icon-yonghu78:before {
  content: "\e683";
}

.#{$namespace}-icon-yonghu79:before {
  content: "\e85a";
}

.#{$namespace}-icon-yonghu80:before {
  content: "\e685";
}

.#{$namespace}-icon-yonghu-tongyong:before {
  content: "\e686";
}

.#{$namespace}-icon-yonghuming19:before {
  content: "\e688";
}

.#{$namespace}-icon-yonghuming20:before {
  content: "\e68a";
}

.#{$namespace}-icon-yonghu82:before {
  content: "\e6c8";
}

.#{$namespace}-icon-yonghu85:before {
  content: "\e68e";
}

.#{$namespace}-icon-yonghu86:before {
  content: "\e690";
}

.#{$namespace}-icon-yonghu90:before {
  content: "\e699";
}

.#{$namespace}-icon-yonghu91:before {
  content: "\e69a";
}

.#{$namespace}-icon-yonghu92:before {
  content: "\e69b";
}

.#{$namespace}-icon-yonghu96:before {
  content: "\e69f";
}

.#{$namespace}-icon-yonghu97:before {
  content: "\e6a0";
}

.#{$namespace}-icon-yonghuguohu-:before {
  content: "\e6a4";
}

.#{$namespace}-icon-jurassic_user1:before {
  content: "\e6a6";
}

.#{$namespace}-icon-yonghu101:before {
  content: "\e6a9";
}

.#{$namespace}-icon-yonghu103:before {
  content: "\e6ab";
}

.#{$namespace}-icon-yonghuID:before {
  content: "\e6ad";
}

.#{$namespace}-icon-yonghuming23:before {
  content: "\e6ae";
}

.#{$namespace}-icon-yonghufenzu:before {
  content: "\e6b0";
}

.#{$namespace}-icon-yonghu108:before {
  content: "\e6b1";
}

.#{$namespace}-icon-yonghu-jia:before {
  content: "\e80f";
}

.#{$namespace}-icon-yonghu-qianyi:before {
  content: "\e810";
}

.#{$namespace}-icon-yonghu-shanchu:before {
  content: "\e811";
}

.#{$namespace}-icon-yonghu112:before {
  content: "\e6b9";
}

.#{$namespace}-icon-yonghuming26:before {
  content: "\e6be";
}

.#{$namespace}-icon-user5:before {
  content: "\e6c1";
}

.#{$namespace}-icon-yonghuguanli-yonghuguanli:before {
  content: "\e6c3";
}

.#{$namespace}-icon-yonghuqun2:before {
  content: "\e6c5";
}

.#{$namespace}-icon-yonghuming27:before {
  content: "\e6cd";
}

.#{$namespace}-icon-yonghu121:before {
  content: "\e6ce";
}

.#{$namespace}-icon-switchuser:before {
  content: "\ebf3";
}

.#{$namespace}-icon-customer:before {
  content: "\ebf6";
}

.#{$namespace}-icon-renzhengyonghu:before {
  content: "\e600";
}

.#{$namespace}-icon-subscriber-square:before {
  content: "\ebf7";
}

.#{$namespace}-icon-zhanghu:before {
  content: "\e601";
}

.#{$namespace}-icon-zuixing-45:before {
  content: "\e6cf";
}

.#{$namespace}-icon-nvshangjia:before {
  content: "\e602";
}

.#{$namespace}-icon-yonghu122:before {
  content: "\e6d0";
}

.#{$namespace}-icon-zhanghubaobiao:before {
  content: "\e603";
}

.#{$namespace}-icon-yingyongyonghuguanli:before {
  content: "\e6d1";
}

.#{$namespace}-icon-yonghuming28:before {
  content: "\e6d2";
}

.#{$namespace}-icon-chazhaoyonghu:before {
  content: "\e605";
}

.#{$namespace}-icon-menu_yh_sjqx:before {
  content: "\e6d3";
}

.#{$namespace}-icon-tianjiayonghu:before {
  content: "\e606";
}

.#{$namespace}-icon-menu_yhgl:before {
  content: "\e6d4";
}

.#{$namespace}-icon-suijiyonghu:before {
  content: "\e607";
}

.#{$namespace}-icon-menu_yhsz:before {
  content: "\e6d5";
}

.#{$namespace}-icon-yonghu123:before {
  content: "\e6d6";
}

.#{$namespace}-icon-yonghulei:before {
  content: "\e6d7";
}

.#{$namespace}-icon-shiyanshiyonghuguanli:before {
  content: "\e6d8";
}

.#{$namespace}-icon-tianjiayonghutianchong:before {
  content: "\e697";
}

.#{$namespace}-icon-yonghu124:before {
  content: "\e7db";
}

.#{$namespace}-icon-a-yonghuxinxiyonghu:before {
  content: "\e6d9";
}

.#{$namespace}-icon-a-huaban1fuben6:before {
  content: "\e6da";
}

.#{$namespace}-icon-quanyonghu:before {
  content: "\e621";
}

.#{$namespace}-icon-yonghuqun:before {
  content: "\e627";
}

.#{$namespace}-icon-user:before {
  content: "\e611";
}

.#{$namespace}-icon-yonghuming:before {
  content: "\e801";
}

.#{$namespace}-icon-1:before {
  content: "\e622";
}

.#{$namespace}-icon-yonhu:before {
  content: "\e657";
}

.#{$namespace}-icon-yonghutongzhi:before {
  content: "\e63b";
}

.#{$namespace}-icon-yonghu9:before {
  content: "\e652";
}

.#{$namespace}-icon-yonghuzhanghuguanli:before {
  content: "\e63a";
}

.#{$namespace}-icon-yonghu11:before {
  content: "\e61b";
}

.#{$namespace}-icon-yonghu12:before {
  content: "\e60b";
}

.#{$namespace}-icon-user2:before {
  content: "\e649";
}

.#{$namespace}-icon-yonghu01:before {
  content: "\e60c";
}

.#{$namespace}-icon-yonghu14:before {
  content: "\e61f";
}

.#{$namespace}-icon-yonghu22:before {
  content: "\e620";
}

.#{$namespace}-icon-yonghu31:before {
  content: "\e623";
}

.#{$namespace}-icon-yonghuming1:before {
  content: "\e618";
}

.#{$namespace}-icon-yonghu16:before {
  content: "\e626";
}

.#{$namespace}-icon-yonghuming3:before {
  content: "\e628";
}

.#{$namespace}-icon-yonghuming5:before {
  content: "\e60d";
}

.#{$namespace}-icon-5yonghu:before {
  content: "\e659";
}

.#{$namespace}-icon-yonghu110:before {
  content: "\e65a";
}

.#{$namespace}-icon-yonghu23:before {
  content: "\e67f";
}

.#{$namespace}-icon-tongyongleiyonghunv:before {
  content: "\ea46";
}

.#{$namespace}-icon-yonghu20:before {
  content: "\e619";
}

.#{$namespace}-icon-yonghu25:before {
  content: "\e644";
}

.#{$namespace}-icon-yonghu28:before {
  content: "\e610";
}

.#{$namespace}-icon-yonghu30:before {
  content: "\e612";
}

.#{$namespace}-icon-yonghuzu:before {
  content: "\e7d9";
}

.#{$namespace}-icon-yonghu35:before {
  content: "\e727";
}

.#{$namespace}-icon-yonghu-yuan:before {
  content: "\e624";
}

.#{$namespace}-icon-user3:before {
  content: "\e62b";
}

.#{$namespace}-icon-yonghu-:before {
  content: "\e695";
}

.#{$namespace}-icon-yonghuziliao:before {
  content: "\e91b";
}

.#{$namespace}-icon-yonghuziliao-xianxing:before {
  content: "\e91c";
}

.#{$namespace}-icon-xinyonghu:before {
  content: "\e6b2";
}

.#{$namespace}-icon-yonghu47:before {
  content: "\e66c";
}

.#{$namespace}-icon-yonghuqun1:before {
  content: "\e640";
}

.#{$namespace}-icon-yonghu_tudi:before {
  content: "\e61c";
}

.#{$namespace}-icon-yonghu_tili:before {
  content: "\e61d";
}

.#{$namespace}-icon-icon-user-sm:before {
  content: "\e62c";
}

.#{$namespace}-icon-user-group:before {
  content: "\e62e";
}

.#{$namespace}-icon-tubiaozhizuomobanyihuifu-:before {
  content: "\e68f";
}

.#{$namespace}-icon-yonghu53:before {
  content: "\e7a5";
}

.#{$namespace}-icon-yonghuBI:before {
  content: "\e769";
}

.#{$namespace}-icon-yonghu55:before {
  content: "\e64e";
}

.#{$namespace}-icon-yonghu56:before {
  content: "\e64f";
}

.#{$namespace}-icon-yonghu57:before {
  content: "\e650";
}

.#{$namespace}-icon-yonghuxinxi2:before {
  content: "\e710";
}

.#{$namespace}-icon-yonghuming9:before {
  content: "\e653";
}

.#{$namespace}-icon-yonghu-1:before {
  content: "\e654";
}

.#{$namespace}-icon-yonghu60:before {
  content: "\e660";
}

.#{$namespace}-icon-yonghu61:before {
  content: "\e667";
}

.#{$namespace}-icon-yonghu63:before {
  content: "\e837";
}

.#{$namespace}-icon-tab_yonghu:before {
  content: "\e6e9";
}

.#{$namespace}-icon-tab_yonghu1:before {
  content: "\e6ec";
}

.#{$namespace}-icon-yonghuxinxi3:before {
  content: "\e663";
}

.#{$namespace}-icon-yonghukaihu:before {
  content: "\e664";
}

.#{$namespace}-icon-yonghu64:before {
  content: "\e705";
}

.#{$namespace}-icon-yonghu65:before {
  content: "\e669";
}

.#{$namespace}-icon-yonghu67:before {
  content: "\e66d";
}

.#{$namespace}-icon-x_yonghu:before {
  content: "\e696";
}

.#{$namespace}-icon-jihuoyonghu:before {
  content: "\e66f";
}

.#{$namespace}-icon-suodingyonghu:before {
  content: "\e670";
}

.#{$namespace}-icon-erjiyonghu:before {
  content: "\e6a3";
}

.#{$namespace}-icon-yonghuming13:before {
  content: "\e671";
}

.#{$namespace}-icon-yonghuzu1:before {
  content: "\e672";
}

.#{$namespace}-icon-yonghu:before {
  content: "\e633";
}
