@use './mixins/mixin.scss' as *;

@font-face {
  font-family: 'dk-ui-icons'; /* Project id */
  src: url('./font//iconfont.woff2') format('woff2'),
    url('./font/iconfont.woff') format('woff'),
    url('./font/iconfont.ttf') format('truetype');
}

[class^='#{$namespace}-icon'],
[class*='#{$namespace}-icon'] {
  font-family: 'dk-ui-icons' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$icons: (
  del1: '\e628',
  halt: '\e626',
  play: '\e625',
  android: '\e881',
  ios: '\e622',
  searchBig: '\ec33',
  searchSmall: '\ec32',
  searchFill: '\e600',
  sysMsg: '\e65e',
  search02: '\e64b',
  search: '\e752',
  searchClass: '\e753',
  sysMenu: '\e696',
  sysBack: '\e697',
  sysReset: '\e635',
  link: '\e60d',
  sysCloudFile: '\e641',
  sysOperationSAuthorization: '\e64f',
  drgSys: '\e607',
  drgSys2: '\e63d',
  sys: '\e62e',
  sys1: '\e642',
  interSys: '\e62f',
  sysPer: '\e631',
  sysState: '\e643',
  subsystem: '\e609',
  centralSys: '\e605',
  sysAdmin: '\e76c',
  logOffSys: '\e65f',
  searchEquipment: '\ead2',
  adminSearch: '\eb56',
  searchEquipment1: '\eb58',
  dataSys: '\e63a',
  sysRole: '\e627',
  search1: '\ec4c',
  mysql: '\ec6d',
  system: '\e60a',
  sysLoad: '\e662',
  scienceSys: '\e63e',
  sysOperation: '\e619',
  fileSys: '\e648',
  fileSysMedicine: '\e649',
  sysMsg1: '\e62b',
  sysUpload: '\e644',
  sysSetting: '\e660',
  notice: '\e611',
  light: '\e6f6',
  system2: '\e64a',
  sysManage: '\e64c',
  setting: '\e62d',
  setSeat: '\e666',
  assetsDic: '\e667',
  sysConfig: '\e668',
  sysLog: '\e608',
  sysMsg2: '\e683',
  system3: '\e645',
  sysNotice1: '\e663',
  callSys: '\e61a',
  sysSupervise: '\e66c',
  sysMaintain: '\e615',
  LANSearch: '\e77e',
  monitorSys: '\e78c',
  system4: '\e60f',
  sysUpdate: '\e60b',
  faceID: '\e623',
  cloudSearch: '\e98d',
  sysPower: '\e602',
  logout: '\e61c',
  sysBugTesting: '\e6a5',
  fingerprintVerify: '\e651',
  sysFile: '\e6b9',
  sysNotice: '\ffdc',
  arrowLeftBottom: '\e6bd',
  arrowTopCurve: '\e694',
  arrowAround: '\e69f',
  arrowRotate: '\e6aa',
  arrowUp: '\e7ee',
  arrowDown: '\e7ef',
  arrowAlt: '\e833',
  arrowToBottom: '\e83c',
  arrowToTop: '\e83d',
  longArrowDown: '\e83e',
  longArrowUp: '\e83f',
  arrowRight: '\e840',
  arrowLeft: '\e841',
  arrowsV: '\e847',
  arrowAltFromTop: '\e86c',
  arrowAltFromBottom: '\e86d',
  narrow: '\e711',
  arrow: '\e60e',
  arrowGrowth: '\e618',
  rightArrowRect: '\e884',
  leftArrowRect: '\e885',
  arrowGrowth1: '\e7df',
  arrowLeft1: '\e743',
  arrowDown1: '\e7b2',
  arrowUpArrowDown: '\e612',
  trayArrowDown: '\e6de',
  arrowRight1: '\e665',
  arrowDoubleLeft: '\e669',
  arrowDoubleRight: '\e66a',
  arrowUpBold: '\e685',
  arrowUpFilling: '\e688',
  arrowDownFilling: '\e689',
  arrowLeftFilling: '\e68a',
  arrowRightFilling: '\e68b',
  arrowGoForwardFill: '\e842',
  icfNarrowScreenArrow: '\e76a',
  boxArrowInDownRight: '\e6a0',
  boxArrowInUpLeft: '\e6a3',
  targetSetting: '\e601',
  err: '\e603',
  weChat: '\e604',
  payTIp: '\e61b',
  position: '\e624',
  addShopCar: '\e640',
  collect: '\e646',
  weChatPay: '\e650',
  collected: '\e684',
  weChat1: '\e6c9',
  nv2: '\e68c',
  show: '\e616',
  addRemark: '\e639',
  qq: '\e691',
  key: '\e610',
  trashCan: '\e77a',
  fileRemove: '\e613',
  zhiFuBao: '\e8e4',
  position1: '\e614',
  delMail: '\e621',
  nan: '\e75f',
  payCard: '\e681',
  del: '\e718',
  pay: '\e8f9',
  hide: '\e606',
  QQ: '\e882',
  imgAdd: '\ec7d',
  lockClose1: '\e617',
  lockOpen: '\e638',
  lockClose: '\e63b',
  minus: '\e656',
  subscript: '\e634',
  add: '\e6df',
  collect1: '\e61d',
  addMsg: '\e630',
  copPay: '\e60c',
  payErr: '\e664',
  addCard: '\e64d',
  collect3: '\e61e',
  show1: '\e704',
  hide1: '\e705',
  addChild: '\e61f',
  delCrowd: '\e6f1',
  delOrg: '\e6f2',
  nan1: '\e647',
  addFollow: '\e620',
  password: '\e8b2',
  nv: '\e8b3',
  collect2: '\e8b9',
  collected2: '\e8c6',
  collect4: '\e66b',
  backRemove: '\e7f3',
  nv1: '\e65c',
  setPay: '\e66d',
  delUser: '\e698',
  cardPay1: '\e8c2',
  nan2: '\e6db',
  onlinePay: '\e7d7',
  lockUser: '\e7eb',
  lockUser1: '\e7ec',
  editPass: '\e632'
);

@each $name, $unicode in $icons {
  .#{$namespace}-icon-#{$name}::before {
    content: $unicode;
  }
}
