@use '../mixins/mixin.scss' as *;

.#{$namespace}-icon {
  width: 1em;
  height: 1em;
  line-height: 1em;
  position: relative;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  vertical-align: middle;
  color: var(--icon-color);
  font-size: var(--icon-size, 20px);
  margin-top: -3px;
}