@use './mixins/mixin.scss' as *;

@font-face {
  font-family: "dk-ui-icons"; /* Project id 3849940 */
  src: url('./iconother/iconfont.woff2?t=1675822794850') format('woff2'),
       url('./iconother/iconfont.woff?t=1675822794850') format('woff'),
       url('./iconother/iconfont.ttf?t=1675822794850') format('truetype');
}

[class^='#{$namespace}-icon'],[class*='#{$namespace}-icon'] {
  font-family: "dk-ui-icons" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.#{$namespace}-icon-genzongmubiaoshezhi:before {
  content: "\e600";
}

.#{$namespace}-icon-cuowu:before {
  content: "\e601";
}

.#{$namespace}-icon-weixin:before {
  content: "\e602";
}

.#{$namespace}-icon-zhifutixing:before {
  content: "\e619";
}

.#{$namespace}-icon-wxbdingwei:before {
  content: "\e624";
}

.#{$namespace}-icon-gouwuchetianjia:before {
  content: "\e640";
}

.#{$namespace}-icon-jushoucang:before {
  content: "\e643";
}

.#{$namespace}-icon-weixinzhifu:before {
  content: "\e650";
}

.#{$namespace}-icon-jushoucanggift:before {
  content: "\e684";
}

.#{$namespace}-icon-z-weixin:before {
  content: "\e6c9";
}

.#{$namespace}-icon-icon:before {
  content: "\e68b";
}

.#{$namespace}-icon-mimakejian:before {
  content: "\e616";
}

.#{$namespace}-icon-tianjiabeizhu:before {
  content: "\e639";
}

.#{$namespace}-icon-qq:before {
  content: "\e691";
}

.#{$namespace}-icon-mima:before {
  content: "\e60f";
}

.#{$namespace}-icon-dustbin-recycle-bin-trash-erase-ebaccf:before {
  content: "\e77a";
}

.#{$namespace}-icon-wenjianshanchu:before {
  content: "\e611";
}

.#{$namespace}-icon-zhifubao:before {
  content: "\e8e4";
}

.#{$namespace}-icon-dingwei:before {
  content: "\e610";
}

.#{$namespace}-icon-shanchuyoujian:before {
  content: "\e621";
}

.#{$namespace}-icon-nan:before {
  content: "\e75f";
}

.#{$namespace}-icon-xinyongqiazhifu:before {
  content: "\e681";
}

.#{$namespace}-icon-shanchu:before {
  content: "\e718";
}

.#{$namespace}-icon-zhifu:before {
  content: "\e8f9";
}

.#{$namespace}-icon-biyan:before {
  content: "\e603";
}

.#{$namespace}-icon-QQ:before {
  content: "\e882";
}

.#{$namespace}-icon-tupiantianjia:before {
  content: "\ec7d";
}

.#{$namespace}-icon-weibiaoti--:before {
  content: "\e617";
}

.#{$namespace}-icon-tianchongxing-:before {
  content: "\e638";
}

.#{$namespace}-icon-tianchongxing-1:before {
  content: "\e63a";
}

.#{$namespace}-icon-jianhao:before {
  content: "\e656";
}

.#{$namespace}-icon-shoucangjiaobiao:before {
  content: "\e634";
}

.#{$namespace}-icon-tianjia:before {
  content: "\e6de";
}

.#{$namespace}-icon-shoucang:before {
  content: "\e612";
}

.#{$namespace}-icon-tianjiaxiaoxi:before {
  content: "\e62f";
}

.#{$namespace}-icon-ziyuan:before {
  content: "\e60b";
}

.#{$namespace}-icon-zhifushibai:before {
  content: "\e663";
}

.#{$namespace}-icon-idcard-add-fill:before {
  content: "\e64c";
}

.#{$namespace}-icon-shoucang1:before {
  content: "\e613";
}

.#{$namespace}-icon-mimaxianshi:before {
  content: "\e704";
}

.#{$namespace}-icon-mimayincang:before {
  content: "\e705";
}

.#{$namespace}-icon-tianjiaziji:before {
  content: "\e61a";
}

.#{$namespace}-icon-jurassic_delete-users:before {
  content: "\e6f1";
}

.#{$namespace}-icon-jurassic_delete-org:before {
  content: "\e6f2";
}

.#{$namespace}-icon-nan1:before {
  content: "\e646";
}

.#{$namespace}-icon-tianjia1:before {
  content: "\e61d";
}

.#{$namespace}-icon-mima1:before {
  content: "\e8b2";
}

.#{$namespace}-icon-nv:before {
  content: "\e8b3";
}

.#{$namespace}-icon-shoucang2:before {
  content: "\e8b9";
}

.#{$namespace}-icon-shoucang3:before {
  content: "\e8c6";
}

.#{$namespace}-icon-shoucang4:before {
  content: "\e669";
}

.#{$namespace}-icon-huifushanchu:before {
  content: "\e7f3";
}

.#{$namespace}-icon-nv1:before {
  content: "\e65c";
}

.#{$namespace}-icon-zhifushezhi:before {
  content: "\e662";
}

.#{$namespace}-icon-Deletemember:before {
  content: "\e697";
}

.#{$namespace}-icon-union-pay:before {
  content: "\e8c2";
}

.#{$namespace}-icon-nan2:before {
  content: "\e6db";
}

.#{$namespace}-icon-zaixianzhifuPay:before {
  content: "\e7d7";
}

.#{$namespace}-icon-a-Lock-User2:before {
  content: "\e7eb";
}

.#{$namespace}-icon-a-Lock-User1:before {
  content: "\e7ec";
}

.#{$namespace}-icon-Union-41:before {
  content: "\e632";
}