$theme-color: #3eaf7c; // 主题色
$theme-color--hover: #52c290; // 悬浮主题色
$sub-theme-color: #f47d7d; // 次主题色
$title-color: #555; // 标题题色
$sub-title-color: #888; // 副标题题色
$border-color: #eee; // 边框题色
$bg-color: #f5f5f5; // 背景题色

// 一级标题样式
$title-style-list: (
  font-size: 3rem,
  line-height: 44px,
  font-weight: bolder,
  color: $title-color
);

// 一级标题样式块
@mixin title-style {
  @each $key, $value in $title-style-list {
    #{$key}: $value;
  }
}

// 一级副标题样式
$sub-title-style-list: (
  font-size: 0.8rem,
  line-height: 1rem,
  color: $sub-title-color
);

// 一级副标题样式块
@mixin sub-title-style {
  @each $key, $value in $sub-title-style-list {
    #{$key}: $value;
  }
}

.label--active_hover:hover {
  // background-color: $theme-color--hover !important;
  opacity: 0.8;
}

// 二级标题样式
$sec-title-style-list: (
  font-size: 1rem,
  line-height: 36px,
  font-weight: bolder,
  color: $title-color
);

// 二级标题样式块
@mixin sec-title-style {
  @each $key, $value in $sec-title-style-list {
    #{$key}: $value;
  }
}

// 边框样式
$border-style-list: (
  border: 1px solid $border-color,
  border-radius: 5px,
  box-sizing: border-box
);

// 边框样式块
@mixin border-style {
  @each $key, $value in $border-style-list {
    #{$key}: $value;
  }
}

// y轴滚动样式
$scroll-style-list: (
  overflow-y: scroll,
  scroll-snap-type: y mandatory,
  -webkit-overflow-scrolling: touch
);

// y轴滚动样式块
@mixin scroll-style {
  @each $key, $value in $scroll-style-list {
    #{$key}: $value;
  }
}

// y轴子元素滚动样式
$scroll-child-style-list: (
  scroll-snap-align: start,
  scroll-snap-stop: always
);

// y轴子元素滚动样式块
@mixin scroll-child-style {
  @each $key, $value in $scroll-child-style-list {
    #{$key}: $value;
  }
}

$dark-bg-color: #1e1e20; // 暗黑背景题色
$dark-text-color: #dfdfd8; // 暗黑字体题色
$dark-main-bg-color: #252529; // 暗黑主背景题色
$dark-btn-bg-color: #313136; // 暗黑按钮背景题色
$dark-border-color: #8a8a8e; // 暗黑边框题色

// 暗黑模式
.dark-style {
  background-color: #1e1e20 !important;
  background: #1e1e20 !important;
}
.on-search{
  .dk-input {
    .dk-input-wrapper,
    .dk-input_pend {
      background-color: var(--vp-c-bg);
      color: var(--vp-c-text-1);
      border-color: var(--vp-input-hover-border-color);
      &:hover,
      &:focus-within {
        border-color: var(--vp-carbon-ads-hover-text-color);
      }
    }
    .dk-input_inner {
      background-color: inherit;
    }
  }
}
.dk-box{
  .docs-{
    &input{
      .dk-input-wrapper,
      .dk-input_pend{
        background-color: var(--vp-c-bg);
        border-color: var(--vp-c-border);
      }
      .dk-input_inner{
        color: #ccc;
      }
    }
    &number{
      border-color: var(--vp-c-border);
      .dk-input{
        .dk-input-wrapper{
          background-color: var(--vp-c-bg);
        }
      }
      .dk-button{
        &-box{
          &:not([default]):hover{
            background-color: var(--vp-c-bg);
          }
        }
        &_disabled{
          background-color: var(--vp-c-bg);
          opacity: .8;
        }
      }
    }
  }
}