// 全局样式
*{
  transition: all .2s;
}
$theme-color: #3eaf7c; // 主题色
$theme-color--hover: #52c290; // 悬浮主题色
$sub-theme-color: #f47d7d; // 次主题色
$title-color: #555; // 标题题色
$sub-title-color: #888; // 副标题题色


// 一级标题样式
$title-style-list: (
  font-size: 40px,
  line-height: 44px,
  font-weight: bolder,
  color: $title-color,
);
// 一级标题样式块
@mixin title-style{
  @each $key, $value in $title-style-list {
    #{$key}: $value;
  }
}

.label--active_hover:hover {
  // background-color: $theme-color--hover !important;
  opacity: .8;
}