*{
  transition: all 0.2s;
}
.home {
  width: 100%;
  padding: 0 50px 10px 50px;
 
  box-sizing: border-box;

  .main {
    width: calc(100% / 3 * 2);
    height: fit-content;
    // height: 1000vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 25px;
    margin: 0 auto;


    .explain {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 16px;

      .text {
        font-size: 46px;
        line-height: 64px;
        font-weight: 600;
        color: var(--text-color);

        &:nth-child(1) {
          color: var(--theme-color, #3eaf7c);
        }

        &:nth-child(3) {
          color: var(--sub-text-color);
          font-size: 24px;
          line-height: 32px;
          font-weight: normal;
        }
      }
    }

    .container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      margin-bottom: 20px;
      .content{
        width: 100%;
        box-sizing: border-box;
      }

      .banner-list {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1%;

        .list-item {
          flex-basis: calc(100% / 4 - 1%);
          background-color: var(--vp-c-bg-soft);
          border-radius: 10px;
          padding: 20px;
          margin-top: 5px;
          user-select: none;
          min-width: 212px;
          box-sizing: border-box;
          &:hover{
            .item-title{
              .icon{
                transform: scale(1.1);
                transition: all 0.1s ease-in-out;
              }
            }
          }
          .item-title {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .icon {
              width: fit-content;
              padding: 10px;
              font-size: 24px;
              background-color: var(--vp-c-bg-soft-down);
              border-radius: 10px;
            }

            .title {
              font-size: 24px;
              font-weight: bolder;
              line-height: 40px;
            }
          }

          .message {
            margin-top: 10px;
            font-size: 14px;
            line-height: 24px;
            color: var(--docsearch-hit-color);
          }
        }
      }
    }

    .contributions {
      display: flex;
      flex-direction: column;
      gap: 10px;
      overflow: auto;

      &-title {
        font-size: 13px;
        color: var(--text-color);
      }

      &-list {
        width: 100%;
        height: fit-content;
        flex: 1;
        margin-top: auto;
        display: flex;
        flex-wrap: wrap;
        gap: 8px;

        .list-item {
          width: fit-content;
          height: 32px;
          overflow: hidden;
          cursor: pointer;
          display: flex;
          justify-content: start;
          align-items: center;
          gap: 2px;

          &:hover {
            .avatar img {
              transition: all 0.1s ease-in-out;
              transform: scale(1.2);
            }
          }

          .avatar {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            overflow: hidden;

            img {
              width: 100%;
              height: 100%;
            }
          }

          .name {
            font-size: 12px;
            color: var(--text-color);
            font-weight: 600;
          }
        }
      }
    }

    .friendship {
      display: flex;
      flex-direction: column;
      gap: 10px;
      overflow: auto;
      height: 175px;
      &-title {
        font-size: 13px;
        color: var(--text-color);
      }
      &-list {
        width: 100%;
        height:130px;
        flex: 1;
        margin-top: auto;
        display: flex;
        flex-wrap: wrap;
        gap: 8px;

        .friendship-item {
          width: fit-content;
          width: 173px;
          height: 60px;
          overflow: hidden;
          cursor: pointer;
          display: flex;
          justify-content: start;
          align-items: center;
          gap: 2px;
          border-radius: 5px;

          img {
            width: 100%;
            height: 100%;
          }

          img:hover {
            transition: all 0.1s ease-in-out;
            transform: scale(1.1);
          }
        }
      }
    }
  }
}

.footer {
  width: 100%;
  height: fit-content;
  padding: 20px 0;
  border-top: 1px solid var(--vp-input-hover-border-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #666;
}

@media screen and (min-width: 1180px) {
  .home {
    margin: 0 auto;
    
    .main {
      min-width: 1080px;
      .explain {
        .text {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 1180px) {
  .home {
    width: 100%;
    margin: 0;
    height: auto;
    
    .main {
      margin: 0;
      width: 100%;
      min-width: 100%;

      .explain {
        .text {
          font-size: 48px;
          line-height: 56px;
          width: 100%;
        }
      }

      .container {
        .banner-list {
          .list-item {
            flex-basis: 49%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .home {
    width: 100%;
    min-width: 100%;
    padding-left: 20px;
    height: auto;

    .main {
      margin: 0;
      margin-top: 40px;

      .explain {
        gap: 0;

        .text {
          font-size: 32px;
          line-height: 40px;
          white-space: pre-wrap;
          width: 66%;

          &:nth-child(3) {
            font-size: 18px;
            line-height: 24px;
          }
        }
      }

      .container {
        .banner-list {
          gap: 0;

          .list-item {
            flex-basis: 100%;
          }
        }
      }
    }
  }
}
