.home {
  width: 100%;
  padding-left: 50px;
  height: calc(100vh - 64px);
  overflow: auto;
  .main {
    width: calc(100% / 3 * 2);
    // width: 1170px;
    height: fit-content;
    // height: 1000vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
    margin: 0 auto;
    margin-top: 80px;
    .text {
      font-size: 56px;
      line-height: 64px;
      font-weight: 600;
      color: var(--text-color);
      &:nth-child(1) {
        color: var(--theme-color, #3eaf7c);
      }
      &:nth-child(3) {
        color: var(--sub-text-color);
        font-size: 24px;
        line-height: 32px;
        font-weight: normal;
      }
    }
    .button-list {
      display: flex;
      .dk-button {
        .dk-button-box {
          padding: 100px 20px;
        }
      }
    }
    .container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      .banner-list {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        .list-item {
          flex-basis: 25%;
          background-color: var(--grey-background-color);
          .icon{
            width: fit-content;
            padding: 10px;
            font-size: 24px;
            background-color: var(--dark-grey-background-color);
          }
        }
      }
    }
  }
}

.footer {
  width: 100%;
  height: fit-content;
  padding: 20px 0;
  border-top: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #666;
}

@media screen and (min-width: 1200px) {
  .home {
    min-width: 1170px;
    margin: 0 auto;
    .main {
      .text {
        width: 80%;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .home {
    width: 100%;
    max-width: 970px;
    margin: 0;
    .main {
      margin: 0;
      margin-top: 60px;
      .text {
        font-size: 48px;
        line-height: 56px;
        width: 100%;
      }
      .container {
        .banner-list {
          .list-item {
            flex-basis: 50%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .home {
    width: 100%;
    min-width: 100%;
    padding-left: 20px;
    .main {
      margin: 0;
      margin-top: 40px;
      .text {
        font-size: 32px;
        line-height: 40px;
        white-space: pre-wrap;
        width: 66%;
      }
      .text:nth-child(3) {
        font-size: 18px;
        line-height: 24px;
      }
      .container {
        .banner-list {
          .list-item {
            flex-basis: 100%;
          }
        }
      }
    }
  }
}
