// 全局函数
@use 'config' as *;
@forward 'config';

/**
  * 检测是否为列表
  * @param {any} $list
  */
@function isList($list) {
  @return type-of($list) == list;
}

/**
  * 检测字符串时候含有指定字符
  * @param {String} $str - 字符串
  * @param {String} $symbol - 指定字符
  * @param {Number} $index - 指定字符的索引
  */
@function containSymbol($str, $symbol, $index: 1) {
  @return str-index($str, $symbol) == $index;
}

/**
  * @param {String} $block - 块名
  * @param {String} $namespace - 命名空间
  * @param {String} $common-separator - 块名分隔符
  * @return {String} - 块名
  * @example
  * @include handleBlock('button', 'dk', '-');
  * // => .dk-button
  */
@function handleBlock(
  $block,
  $namespace: $namespace
) {
  $B: '';
  @if isList($block) {
    @each $item in $block {
      $isEnd: index($block, $item) == length($block);
      $and: if($isEnd, ' ', ', ');
      $B: $B + handleBlock($item) + $and;
    }
  } @else {
    $block: unquote($block);
    $B: '';
    // @debug str-length(#{&});
    @if str-length(#{&}) == 0 {
      $B: '.' + $namespace + $common-separator + $block;
    } @else {
      @if containSymbol($block, '*') {
        $index: str-index($block, '*');
        $BL: str-slice($block, 1, $index - 1) + str-slice($block, $index + 1);
        $B: '.' + $namespace + $common-separator + $BL;
      } @else {
        $B: #{&} + $common-separator + $block;
      }
    }
  }
  @return $B;
}

/**
  * @param {String} $element - 元素名
  * @param {String} $namespace - 命名空间
  * @param {String} $element-separator - 元素分隔符
  * @return {String} - 元素名
  * @example
  * @include handleElement('icon', 'dk', '__');
  * // => .dk__icon
*/
@function handleElement(
  $element,
  $block: '',
  $element-separator: $element-separator,
) {
  $E: '';
  @if isList($element) {
    @each $item, $index in $element {
      $isEnd: index($element, $item) == length($element);
      $and: if($isEnd, ' ', ', ');
      $E: $E + handleElement($item) + $and;
    }
  } @else {
    $element: unquote($element);
    $E: '';
    // @debug str-length(#{&});
    @if str-length(#{&}) == 0 {
      $E: '.' + $namespace + $element-separator + $element;
    } @else {
      @if containSymbol($element, '*') {
        $index: str-index($element, '*');
        $EL: str-slice($element, 1, $index - 1) + str-slice($element, $index + 1);
        $E: '.' + $namespace + $element-separator + $EL;
      } @else {
        $E: #{&} + $element-separator + $element;
      }
    }
  }
  @return $E;
}

/**
  * @param {String} $modifier - 修饰符
  * @param {String} $namespace - 命名空间
  * @param {String} $modifier-separator - 修饰符分隔符
  * @return {String} - 修饰符
  * @example
  * @include handleModifier('primary', 'dk', '--');
  * // => .dk--primary
*/
@function handleModifier(
  $modifier,
  $namespace: $namespace,
  $modifier-separator: $modifier-separator
) {
  $M: '';
  @if isList($modifier) {
    @each $item in $modifier {
      $isEnd: index($modifier, $item) == length($modifier);
      $and: if($isEnd, ' ', ', ');
      $M: $M + handleModifier($item) + $and;
    }
  } @else {
    $modifier: unquote($modifier);
    $M: '';
    // @debug str-length(#{&});
    @if str-length(#{&}) == 0 {
      $M: '.' + $namespace + $modifier-separator + $modifier;
    } @else {
      @if containSymbol($modifier, '*') {
        $index: str-index($modifier, '*');
        $ML: str-slice($modifier, 1, $index - 1) + str-slice($modifier, $index + 1);
        $M: '.' + $namespace + $modifier-separator + $ML;
      } @else {
        $M: #{&} + $modifier-separator + $modifier;
      }
    }
  }
  @return $M;
}
