// 声明公共的sass方法

@use './configuration/dkButtonConfig.scss' as *;
@forward './configuration/dkButtonConfig.scss';

@use 'inputconfig' as *;
@forward 'inputconfig';

@use 'config' as *;
@forward 'config';

@use 'func' as *;
@forward 'func';

// block class name
@mixin block($block) {
  $B: $namespace + $common-separator + $block;
  .#{$B} {
    @content;
  }
}

// peerBlock class name
@mixin peerBlock($peerBlock) {
  $E: '';
  @if type-of($peerBlock) == list {
    @each $item in $peerBlock {
      $E: $common-separator + $item;
      @at-root {
        &#{$E} {
          @content;
        }
      }
    }
  } @else {
    @at-root {
      $E: $common-separator + $peerBlock;
      &#{ $E } {
        @content;
      }
    }
  }
}

// element class name
@mixin element($element) {
  // element
  $E: '';
  @if type-of($element) == list {
    @each $item in $element {
      $E: $element-separator + $item;
      @at-root {
        &#{$E} {
          @content;
        }
      }
    }
  } @else {
    @at-root {
      $E: $element-separator + $element;
      &#{ $E } {
        @content;
      }
    }
  }
}

// modifier class name
@mixin modifier($modifier) {
  $M: $modifier-separator + $modifier;
  @at-root {
    &#{$M} {
      @content;
    }
  }
}
// state class name
@mixin state($state) {
  $S: $state-prefix + $state;
  .#{$S} {
    @content;
  }
}
