@use '../mixin.scss' as *;

$text: '#{$namespace}-button-text' !default; // 命名空间
$link: '#{$namespace}-button-link' !default; // 命名空间
$box: '#{$namespace}-button-box' !default; // 命名空间

.#{$namespace}-button {
  --button-border-radius: 5px;
  --button-font-size: 16px;

  //文本按钮开始
  .#{$text},
  .#{$link} {
    --button-color: #{$dk-font-1-color};
    --button-background: transparent;
    --button-hover: #{$dk-primary-light-hover};
    --button-active: #{$dk-primary-active-color};
    --button-pointer: pointer;
  }
  &_default.#{$text},
  &_default.#{$link} {
    --button-color: #{$dk-primary-color};
    --button-background: #{$dk-font-active-color};
    --button-hover: #{$dk-primary-light-hover};
    --button-active:#{$dk-primary-active-color};
  }
  &_primary.#{$text},
  &_primary.#{$link} {
    --button-color: #{$dk-primary-color};
    --button-background: #{$dk-font-active-color};
    --button-hover:#{$dk-primary-light-hover};
    --button-active:#{$dk-primary-active-color};
  }
  &_success.#{$text},
  &_success.#{$link} {
    --button-color: #{$dk-success-color};
    --button-background: #{$dk-success-color};
    --button-hover: #{$dk-success-light-hover};
    --button-active: #{$dk-success-light-active-color};
  }
  &_info.#{$text},
  &_info.#{$link} {
    --button-color: #{$dk-info-color};
    --button-background:#{$dk-font-1-color};
    --button-hover:#{$dk-info-hover-color};
    --button-active:#{$dk-info-active-color};
  }
  &_warning.#{$text},
  &_warning.#{$link} {
    --button-color: #{$dk-warning-color};
    --button-background:#{$dk-warning-color};
    --button-hover: #{$dk-warning-hover-color};
    --button-active: #{$dk-warning-active-color};
  }
  &_danger.#{$text},
  &_danger.#{$link} {
    --button-color: #{$dk-danger-color};
    --button-background: #{$dk-danger-active-color};
    --button-hover: #{$dk-danger-hover-color};
    --button-active:#{$dk-danger-active-color};
  }
  //文本按钮结束
  //盒子按钮开始
  &_default.#{$box} {
    --button-color: #{$dk-font-1-color};
    --button-background: #{$dk-font-active-color};
    --button-borderColor: #{$dk-font-5-color};

    --button-hover: #{$dk-primary-light-active-color};
    --button-hover-borderColor:#{$dk-primary-hover-color};
    --button-hover-background:#{$dk-font-5-color};

    --button-active: #{$dk-primary-active-color};
    --button-active-borderColor: #{$dk-primary-hover-color};
    --button-active-background: #{$dk-font-5-color};

    --button-ripples-BgColor: #{$dk-font-5-color};
  }
  &_primary.#{$box} {
    --button-color: #{$dk-font-active-color};
    --button-background: #{$dk-primary-color};
    --button-borderColor: #{$dk-primary-color};

    --button-hover: #{$dk-font-active-color};
    --button-hover-borderColor: #{$dk-primary-light-hover};
    --button-hover-background: #{$dk-primary-light-hover};

    --button-active: #{$dk-font-active-color};
    --button-active-borderColor: #{$dk-primary-active-color};
    --button-active-background: #{$dk-primary-active-color} ;

    --button-ripples-BgColor: #{$dk-primary-color};
  }
  &_success.#{$box} {
    --button-color: #{$dk-font-active-color};
    --button-background: #{$dk-success-color};
    --button-borderColor: #{$dk-success-color};

    --button-hover: #{$dk-font-active-color};
    --button-hover-borderColor:#{$dk-success-hover-color};
    --button-hover-background:#{$dk-success-hover-color};

    --button-active: #{$dk-font-active-color};
    --button-active-borderColor: #{$dk-success-active-color};
    --button-active-background: #{$dk-success-active-color};

    --button-ripples-BgColor:#{$dk-success-color};
  }
  &_info.#{$box} {
    --button-color:#{$dk-font-active-color};
    --button-background:#{$dk-info-color};
    --button-borderColor: #{$dk-info-color};

    --button-hover:#{$dk-font-active-color};
    --button-hover-borderColor:#{$dk-info-hover-color};
    --button-hover-background:#{$dk-info-hover-color};

    --button-active:#{$dk-font-active-color};
    --button-active-borderColor: #{$dk-info-active-color};
    --button-active-background: #{$dk-info-active-color};

    --button-ripples-BgColor:#{$dk-info-color};
  }
  &_warning.#{$box} {
    --button-color: #{$dk-font-active-color};
    --button-background: #{$dk-warning-color};
    --button-borderColor:  #{$dk-warning-color};

    --button-hover:#{$dk-font-active-color};
    --button-hover-borderColor: #{$dk-warning-hover-color};
    --button-hover-background:#{$dk-warning-hover-color};

    --button-active: #{$dk-font-active-color};
    --button-active-borderColor: #{$dk-warning-active-color};
    --button-active-background: #{$dk-warning-active-color};

    --button-ripples-BgColor: #{$dk-warning-hover-color};
  }
  &_danger.#{$box} {
    --button-color: #{$dk-font-active-color};
    --button-background: #{$dk-danger-color};
    --button-borderColor: #{$dk-danger-color};

    --button-hover:#{$dk-font-active-color};
    --button-hover-borderColor: #{$dk-danger-hover-color};
    --button-hover-background:#{$dk-danger-hover-color};

    --button-active:#{$dk-font-active-color};
    --button-active-borderColor: #{$dk-danger-active-color};
    --button-active-background:#{$dk-danger-active-color};

    --button-ripples-BgColor: #{$dk-danger-hover-color};
  }
  &-box {
    --button-height: 40px;
    --button-padding: 15px 20px;
    --button-font-size: 16px;

    --button-color: #{$dk-font-2-color};
    --button-background: #{$dk-font-active-color};
    --button-borderColor: #{$dk-font-5-color};

    --button-hover: #{$dk-primary-color};
    --button-hover-borderColor: #{$dk-primary-hover-color};
    --button-hover-background: #{$dk-font-5-color};

    --button-active:#{$dk-primary-color};
    --button-active-borderColor: #{$dk-primary-color};
    --button-active-background:#{$dk-font-6-color};
  }
  //圆角按钮
  &_round {
    --button-border-radius: 50px;
  }
  //不同尺寸处理
  &_large {
    --button-height: 40px;
    --button-padding: 15px 20px;
    --button-font-size: 16px;
  }
  &_medium {
    --button-height: 35px;
    --button-padding: 25px;
    --button-font-size: 15px;
  }
  &_small {
    --button-height: 30px;
    --button-padding: 20px;
    --button-font-size: 14px;
  }
  &_mini {
    --button-height: 25px;
    --button-padding: 15px;
    --button-font-size: 13px;
  }
  //扩散效果

  //半圆角按钮逻辑处理
  &_circle {
    --button-border-radius: 50%;
    --button-padding: 0px;
  }
  //圆角按钮逻辑处理结束
}
