@use '../mixin.scss' as *;

$text: '#{$namespace}-button-text' !default; // 命名空间
$link: '#{$namespace}-button-link' !default; // 命名空间
$box: '#{$namespace}-button-box' !default; // 命名空间

.#{$namespace}-button {
  --button-border-radius: 5px;
  --button-font-size: 16px;

  //文本按钮开始
  .#{$text},
  .#{$link} {
    --button-color: #{$dk-font-1-color};
    --button-background: transparent;
    --button-hover: #{$dk-primary-light-hover};
    --button-active: #{$dk-primary-active-color};
    --button-pointer: pointer;
  }
  &_default.#{$text},
  &_default.#{$link} {
    --button-color: #{$dk-primary-color};
    --button-background: #{$dk-font-active-color};
    --button-hover: #{$dk-primary-light-hover};
    --button-active:#{$dk-primary-active-color};
  }
  &_primary.#{$text},
  &_primary.#{$link} {
    --button-color: #{$dk-primary-color};
    --button-background: #{$dk-font-active-color};
    --button-hover:#{$dk-primary-light-hover};
    --button-active:#{$dk-primary-active-color};
  }
  &_success.#{$text},
  &_success.#{$link} {
    --button-color: #{$dk-success-color};
    --button-background: #{$dk-success-color};
    --button-hover: #{$dk-success-light-hover};
    --button-active: #{$dk-success-light-active-color};
  }
  &_info.#{$text},
  &_info.#{$link} {
    --button-color: #{$dk-info-color};
    --button-background:#{$dk-font-1-color};
    --button-hover:#{$dk-info-hover-color};
    --button-active:#{$dk-info-active-color};
  }
  &_warning.#{$text},
  &_warning.#{$link} {
    --button-color: #e6a23c;
    --button-background: #fcc202;
    --button-hover: #fed348;
    --button-active: #c99b02;
  }
  &_danger.#{$text},
  &_danger.#{$link} {
    --button-color: #f56c6c;
    --button-background: #ff0200;
    --button-hover: #ff5857;
    --button-active: #cc0200;
  }
  //文本按钮结束
  //盒子按钮开始
  &_default.#{$box} {
    --button-color: #{$dk-font-1-color};
    --button-background: #{$dk-font-active-color};
    --button-borderColor: #{$dk-font-5-color};

    --button-hover: #{$dk-primary-hover-color};
    --button-hover-borderColor:#{$dk-primary-light-hover};
    --button-hover-background:#{$dk-primary-light-default};

    --button-active: #{$dk-primary-active-color};
    --button-active-borderColor: #{$dk-primary-active-color};
    --button-active-background: #{$dk-primary-light-active-color};

    --button-ripples-BgColor: #{$dk-font-5-color};
  }
  &_primary.#{$box} {
    --button-color: #{$dk-font-active-color};
    --button-background: #{$dk-primary-color};
    --button-borderColor: #{$dk-primary-color};

    --button-hover: #{$dk-font-active-color};
    --button-hover-borderColor: #{$dk-primary-light-hover};
    --button-hover-background: #{$dk-primary-light-hover};

    --button-active: #{$dk-font-active-color};
    --button-active-borderColor: #{$dk-primary-active-color};
    --button-active-background: #{$dk-primary-active-color} ;

    --button-ripples-BgColor: #{$dk-primary-color};
  }
  &_success.#{$box} {
    --button-color: #{$dk-font-active-color};
    --button-background: #{$dk-success-color};
    --button-borderColor: #{$dk-success-color};

    --button-hover: #{$dk-font-active-color};
    --button-hover-borderColor:#{$dk-success-hover-color};
    --button-hover-background:#{$dk-success-hover-color};

    --button-active: #{$dk-font-active-color};
    --button-active-borderColor: #{$dk-success-active-color};
    --button-active-background: #{$dk-success-active-color};

    --button-ripples-BgColor:#{$dk-font-active-color};
  }
  &_info.#{$box} {
    --button-color:#{$dk-font-active-color};
    --button-background:#{$dk-info-color};
    --button-borderColor: #{$dk-info-color};

    --button-hover:#{$dk-font-active-color};
    --button-hover-borderColor:#{$dk-info-hover-color};
    --button-hover-background:#{$dk-info-hover-color};

    --button-active:#{$dk-font-active-color};
    --button-active-borderColor: #{$dk-info-active-color};
    --button-active-background: #{$dk-info-active-color};

    --button-ripples-BgColor:#{$dk-info-color};
  }
  &_warning.#{$box} {
    --button-color: #ffffff;
    --button-background: #e6a23c;
    --button-borderColor: #e6a23c;

    --button-hover: #ffffff;
    --button-hover-borderColor: #ecc790;
    --button-hover-background: #f3d19e;

    --button-active: #ffffff;
    --button-active-borderColor: #f5bd69;
    --button-active-background: #f5bd69;

    --button-ripples-BgColor: #e6a23c;
  }
  &_danger.#{$box} {
    --button-color: #ffffff;
    --button-background: #f56c6c;
    --button-borderColor: #f56c6c;

    --button-hover: #ffffff;
    --button-hover-borderColor: #fab6b6;
    --button-hover-background: #fab6b6;

    --button-active: #ffffff;
    --button-active-borderColor: #d88383;
    --button-active-background: #d88383;

    --button-ripples-BgColor: #f56c6c;
  }
  &-box {
    --button-height: 40px;
    --button-padding: 15px 20px;
    --button-font-size: 16px;

    --button-color: #606266;
    --button-background: #ffffff;
    --button-borderColor: #dcdfe6;

    --button-hover: #409eff;
    --button-hover-borderColor: #79bbff;
    --button-hover-background: #ecf5ff;

    --button-active: #409eff;
    --button-active-borderColor: #409eff;
    --button-active-background: #ecf5ff;
  }
  //圆角按钮
  &_round {
    --button-border-radius: 50px;
  }
  //不同尺寸处理
  &_large {
    --button-height: 40px;
    --button-padding: 15px 20px;
    --button-font-size: 16px;
  }
  &_medium {
    --button-height: 35px;
    --button-padding: 25px;
    --button-font-size: 15px;
  }
  &_small {
    --button-height: 30px;
    --button-padding: 20px;
    --button-font-size: 14px;
  }
  &_mini {
    --button-height: 25px;
    --button-padding: 15px;
    --button-font-size: 13px;
  }
  //扩散效果

  //半圆角按钮逻辑处理
  &_circle {
    --button-border-radius: 50%;
    --button-padding: 0px;
  }
  //圆角按钮逻辑处理结束
}
