@use '../mixin.scss' as *;

@include block('scroll-bar') {
  --scroll-bar-width: 100%;
  --scroll-bar-height: 100%;
  --scroll-bar-max-height: 100%;
  --scroll-bar-bar-width: 6px;
  --scroll-bar-track-color: transparent;
  --scroll-bar-thumb-radius: 4px;
  --scroll-bar-thumb-color: #c1c1c1;
}
