@use '../mixin.scss' as *;
// input颜色
$input-theme-colors: (
  // none
  'none': #fff,
  // 文字颜色
  'text': #606266,
  // 主要颜色
  'primary': #409eff,
  // 成功颜色
  'success': #67c23a,
  // 警告颜色
  'warning': #e6a23c,
  // 危险颜色
  'danger': #f56c6c,
  // 信息颜色
  'info': #909399,
  // 边框颜色
  'border': #dddfe5,
  // 鼠标悬浮颜色
  'hover': #c1c4cb,
  // 背景颜色
  'background': #fff,
  // 禁用颜色
  'disabled': #f5f7fa,
  // 默认颜色
  '': #c0c4cc
);

@function getInputColor($color: 'primary') {
  @return map-get($input-theme-colors, $color);
}

@include block('input') {
  --input-color: #{getInputColor('none')};
  --input-border: #{getInputColor('border')};
  --input-width: 100%;
  --input-height: 30px;
  --input-font-size: 13px;
  --input-border-radius: 4px;
  --input-hover-border: #{getInputColor('hover')};
  --input-focus-border: #{getInputColor('primary')};
  --input-text-color: #{getInputColor('text')};
  --input-disabled-color: #{getInputColor('disabled')};
  --input-icon-color: #{getInputColor('hover')};
  --input-icon-hover-color: #{getInputColor('text')};
  --input-prefix-icon-color: #{getInputColor('hover')};

  --textarea-resize: vertical;
  --textarea-line-height: 30px;
  --textarea-overflow: auto;

  --pend-background: #{getInputColor('disabled')};
  --pend-hover-background: #{getInputColor('disabled')};
  --pend-color: #{getInputColor('text')};

  --input-icon-size: 19px;
  --input-info-color: #{getInputColor('info')};
}
