@use '../mixin.scss' as *;

$personality: '#{$namespace}-button-personality' !default; // 命名空间


.#{$namespace}-button{
  // BI 渐变 缺角按钮 
  &_BiCurvedA.#{$personality} {
    --border-color: linear-gradient(-45deg, #ffae00, #7e03aa, #00fffb);
    --border-width: .125em;
    --curve-size: .5em;
    --blur: 30px;
    --button-bgColor: #080312;
    --button-FontColor: #afffff;
    --button-font-size:16px;
  }
  // 多重阴影按钮
  &_multiple.#{$personality}{
    --button-font-size:16px;
    --button-bgColor:#ffffff;
    --button-FontColor: blueviolet;
    --button-borderColor-top: white;
    --button-borderColor-right: blueviolet;
    --button-borderColor-bottom: blueviolet;
    --button-borderColor-left: white;
    --button-box-shadow:''

    --button-bgColor-hover:#ffffff;
    --button-FontColor-hover: blueviolet;
    --button-borderColor-top-hover: blueviolet;
    --button-borderColor-right-hover: rgb(238, 103, 238);
    --button-borderColor-bottom-hover: rgb(238, 103, 238);
    --button-borderColor-left-hover: blueviolet;
    --button-box-shadow-hover: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px;
  }
  // 收缩动画按钮
  &_stretchBtn.#{$personality}{
    --button-font-size:16px;
    --button-bgColor:#1e1e1e;
    --button-FontColor:greenyellow;
    --button-box-shadow: 0 0 10px #363636, inset 0 0 10px #363636;
    --stretchBtnAnimation0:scale(0.7, 1.3);
    --stretchBtnAnimation25:scale(1.3, 0.7);
    --stretchBtnAnimation50:scale(0.7, 1.3);
    --stretchBtnAnimation75:scale(1.3, 0.7);
    --stretchBtnAnimation100:scale(1, 1);
  }
  // 闪亮 发光
  &_shine.#{$personality}{
    --button-font-size:16px;
    --button-FontColor:#1d89ff;
    --border-color:rgba(22, 76, 167, 0.6);
    --button-bgColor:#fff;
    --button-bgColor-hover:#38ef7d;
  }
  //银光倒影
  &_SilverReflection.#{$personality}{
    --button-font-size:16px;
    --button-bgColor:rgb(14, 14, 26);
    --button-FontColor:rgb(234, 234, 234);
    --button-box-shadow:0px 0px 20px #1f4c65;
    --button-box-reflect:below 10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
    --button-bgColor-hover:linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
    --button-FontColor-hover:rgb(4, 4, 38);
  }
  //扁平按钮
  &_flatBtn.#{$personality}{
    --button-bgColor:#212121;
    --border-color:#ffffff;
    --button-font-size:16px;
    --button-FontColor:#ffffff;
    --button-box-shadow: 0 0.2em 0.1em 0.019em #fff;
    --button-box-shadow-hover:0 0 0 0 #fff;
  }
  //双展开按钮
  &_TurnOpen.#{$personality}{
  
  }
  //不同尺寸处理
  &_large.#{$personality} {
    transform: scale(1);
    --stretchBtnAnimation0:scale(1, 1.1);
    --stretchBtnAnimation25:scale(1.1, 1);
    --stretchBtnAnimation50:scale(1, 1.1);
    --stretchBtnAnimation75:scale(1.1, 1);
    --stretchBtnAnimation100:scale(1, 1);
  }
  &_medium.#{$personality} {
    transform: scale(0.9);
    --stretchBtnAnimation0:scale(0.9, 1);
    --stretchBtnAnimation25:scale(1, 0.9);
    --stretchBtnAnimation50:scale(0.9, 1);
    --stretchBtnAnimation75:scale(1, 0.9);
    --stretchBtnAnimation100:scale(0.9, 0.9);
  }
  &_small.#{$personality} {
    transform: scale(0.8);
    --stretchBtnAnimation0:scale(0.8, 0.9);
    --stretchBtnAnimation25:scale(0.9, 0.8);
    --stretchBtnAnimation50:scale(0.8, 0.9);
    --stretchBtnAnimation75:scale(0.9, 0.8);
    --stretchBtnAnimation100:scale(0.8,0.8);
  }
  &_mini.#{$personality} {
    transform: scale(0.7);
    --stretchBtnAnimation0:scale(0.7, 0.8);
    --stretchBtnAnimation25:scale(0.8, 0.7);
    --stretchBtnAnimation50:scale(0.7, 0.8);
    --stretchBtnAnimation75:scale(0.8, 0.7);
    --stretchBtnAnimation100:scale(0.7,0.7);
  }
}

