@use '../mixin.scss' as *;

$text: '#{$namespace}-button-text' !default; // 命名空间
$link: '#{$namespace}-button-link' !default; // 命名空间
$box: '#{$namespace}-button-box' !default; // 命名空间

.#{$namespace}-button {
  --button-border-radius: 5px;
  --button-font-size: 16px;

  //文本按钮开始
  .#{$text},
  .#{$link} {
    --button-color: #409eff;
    --button-background: transparent;
    --button-hover: #66b1ff;
    --button-active: #3a8ee6;
    --button-pointer: pointer;
  }
  &_default.#{$text},
  &_default.#{$link} {
    --button-color: #409eff;
    --button-background: #ffffff;
    --button-hover: #66b1ff;
    --button-active: #3a8ee6;
  }
  &_primary.#{$text},
  &_primary.#{$link} {
    --button-color: #409eff;
    --button-background: #ffffff;
    --button-hover: #66b1ff;
    --button-active: #3a8ee6;
  }
  &_success.#{$text},
  &_success.#{$link} {
    --button-color: #52b35e;
    --button-background: #52b35e;
    --button-hover: #75c37f;
    --button-active: #40924a;
  }
  &_info.#{$text},
  &_info.#{$link} {
    --button-color: #909399;
    --button-background: #1d1d1f;
    --button-hover: #4e4e56;
    --button-active: #080808;
  }
  &_warning.#{$text},
  &_warning.#{$link} {
    --button-color: #e6a23c;
    --button-background: #fcc202;
    --button-hover: #fed348;
    --button-active: #c99b02;
  }
  &_danger.#{$text},
  &_danger.#{$link} {
    --button-color: #f56c6c;
    --button-background: #ff0200;
    --button-hover: #ff5857;
    --button-active: #cc0200;
  }
  //文本按钮结束
  //盒子按钮开始
  &_default.#{$box} {
    --button-color: #606266;
    --button-background: #ffffff;
    --button-borderColor: #dcdfe6;

    --button-hover: #409eff;
    --button-hover-borderColor: #79bbff;
    --button-hover-background: #ecf5ff;

    --button-active: #409eff;
    --button-active-borderColor: #409eff;
    --button-active-background: #ecf5ff;

    --button-ripples-BgColor: #dcdfe6;
  }
  &_primary.#{$box} {
    --button-color: #ffffff;
    --button-background: #409eff;
    --button-borderColor: #409eff;

    --button-hover: #ffffff;
    --button-hover-borderColor: #79bbff;
    --button-hover-background: #79bbff;

    --button-active: #ffffff;
    --button-active-borderColor: #409eff;
    --button-active-background: #337ecc;

    --button-ripples-BgColor: #409eff;
  }
  &_success.#{$box} {
    --button-color: #ffffff;
    --button-background: #67c23a;
    --button-borderColor: #67c23a;

    --button-hover: #ffffff;
    --button-hover-borderColor: #b3e19d;
    --button-hover-background: #b3e19d;

    --button-active: #ffffff;
    --button-active-borderColor: #93c77b;
    --button-active-background: #93c77b;

    --button-ripples-BgColor: #67c23a;
  }
  &_info.#{$box} {
    --button-color: #ffffff;
    --button-background: #909399;
    --button-borderColor: #909399;

    --button-hover: #ffffff;
    --button-hover-borderColor: #c8c9cc;
    --button-hover-background: #c8c9cc;

    --button-active: #ffffff;
    --button-active-borderColor: #a4a6ad;
    --button-active-background: #a4a6ad;

    --button-ripples-BgColor: #909399;
  }
  &_warning.#{$box} {
    --button-color: #ffffff;
    --button-background: #e6a23c;
    --button-borderColor: #e6a23c;

    --button-hover: #ffffff;
    --button-hover-borderColor: #ecc790;
    --button-hover-background: #f3d19e;

    --button-active: #ffffff;
    --button-active-borderColor: #f5bd69;
    --button-active-background: #f5bd69;

    --button-ripples-BgColor: #e6a23c;
  }
  &_danger.#{$box} {
    --button-color: #ffffff;
    --button-background: #f56c6c;
    --button-borderColor: #f56c6c;

    --button-hover: #ffffff;
    --button-hover-borderColor: #fab6b6;
    --button-hover-background: #fab6b6;

    --button-active: #ffffff;
    --button-active-borderColor: #d88383;
    --button-active-background: #d88383;

    --button-ripples-BgColor: #f56c6c;
  }
  &-box {
    --button-height: 40px;
    --button-padding: 15px 20px;
    --button-font-size: 16px;

    --button-color: #606266;
    --button-background: #ffffff;
    --button-borderColor: #dcdfe6;

    --button-hover: #409eff;
    --button-hover-borderColor: #79bbff;
    --button-hover-background: #ecf5ff;

    --button-active: #409eff;
    --button-active-borderColor: #409eff;
    --button-active-background: #ecf5ff;
  }
  //圆角按钮
  &_round {
    --button-border-radius: 50px;
  }
  //不同尺寸处理
  &_large {
    --button-height: 40px;
    --button-padding: 15px 20px;
    --button-font-size: 16px;
  }
  &_medium {
    --button-height: 35px;
    --button-padding: 25px;
    --button-font-size: 15px;
  }
  &_small {
    --button-height: 30px;
    --button-padding: 20px;
    --button-font-size: 14px;
  }
  &_mini {
    --button-height: 25px;
    --button-padding: 15px;
    --button-font-size: 13px;
  }
  //扩散效果

  //半圆角按钮逻辑处理
  &_circle {
    --button-border-radius: 50%;
    --button-padding: 0px;
  }
  //圆角按钮逻辑处理结束
}
