@use '../mixin.scss' as *;

@include block('input'){
  --input-border: #{getInputColor('border')};
  --input-width: 100%;
  --input-height: 30px;
  --input-font-size: 13px;
  --input-border-radius: 4px;
  --input-hover-border: #{getInputColor('hover')};
}