@use '../../mixins/mixin.scss' as *;
@use '../../mixins/configuration/var-input.scss' as *;
@include block(input-personality) {
  @include element(borderRadius) {
    @include block('>*input-personality-wrapper') {
      border: 1px solid var(--input-border);
      border-radius: calc(var(--input-height) / 2);
      &::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background-color: var(--input-focus-border);
        transition: width 0.3s ease;
        position: absolute;
        bottom: -2px;
        left: 50%;
        transform: translateX(-50%);
      }
      &:focus-within {
        border-radius: 0;
      }
      &:focus-within::after {
        transition: all 0.3s ease;
        width: calc(100%);
        left: 0;
        transform: translateX(0);
      }
    }
  }
}
