@use '../../mixins/mixin.scss' as *;
@use '../../mixins/configuration/var-input.scss' as *;
@use './underline.scss' as *;
@use './borderRadius.scss' as *;

@include block(('input-personality', 'input')) {
  position: relative;
  margin-top: var(--input-margin-top);
  width: var(--input-width);
  height: var(--input-height);
  @include block(wrapper) {
    width: calc(var(--input-width) - 20px);
    height: inherit;
    transition: all 0.3s ease;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @include element(inner) {
    width: 100%;
    height: inherit;
    line-height: var(--input-height);
    font-size: var(--input-font-size);
    color: var(--input-text-color);
    outline: none;
    border: none;
  }

  &:focus-within {
    @include block('>*input_label-text') {
      top: -55%;
      left: 0;
      opacity: 1;
      z-index: 1;
      transform: scale(0.9);
    }
  }
  &:not(:focus-within) {
    @include block('>*input_label-text') {
      top: 0;
      opacity: 0;
      z-index: -1;
      left: 1%;
      transform: scale(1);
    }
  }
  @include block('>*input_label-text') {
    transition: all 0.2s;
    font-size: var(--input-font-size);
    color: var(--input-focus-border);
    position: absolute;
    opacity: 0;
    top: 0;
    left: 1%;
    z-index: -1;
  }
}
